﻿@using Models;
@{
    ViewBag.Title = "List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="page-title">
    <div class="title_left">
        <h3>Payments</h3>
    </div>
</div>

<div class="clearfix"></div>

<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>Recieved Payments</h2>
                <ul class="nav navbar-right panel_toolbox">
                    <li class="pull-right">
                    </li>
                </ul>
                <div class="row clearfix"></div>
            </div>
            <div class="x_content">
                <br>

                <div class="row clearfix">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div id="grid">
                            @(Html.Kendo().Grid<OrderModel>()
                            .Name("OrderGrid")
                            .Columns(columns =>
                            {
                                columns.Bound(m => m.DateRecieved).Title("DATE RECIEVED").ClientTemplate("#: kendo.toString(DateRecieved, 'yyyy-MM-dd') #").Width(150);
                                //columns.Bound(m => m.UserName).Title("CLIENT");
                                columns.Bound(m => m.Amount).Title("AMOUNT");
                                //columns.Bound(m => m.Successfull).Title("SUCCESSFULL").ClientTemplate(" <span class='label label-#: (Successfull == true) ? 'success' : 'danger' #'>#: (Successfull == true) ? 'Success' : 'Unsuccessful' #</span> ").HtmlAttributes(new { style = "text-align:center" }).Width(225);

                            })
                            .Resizable(resize => resize.Columns(true))
                            .DataSource(dataSource => dataSource
                                .Ajax()
                                .PageSize(100)
                                .Model(model =>
                                {
                                    model.Id(m => m.OrderId);
                                })
                                .Group(groups => groups.Add(p => p.UserName))
                                .Read(read => read.Action("getOrders", "Payments"))
                            )
                            .Events(e => e.DataBound("onRowBound"))
                            .Pageable(pageable => pageable
                            .Refresh(true)
                            .ButtonCount(5))
                            .Sortable()
                            )
                        </div>
                        <div id="catch" style="display:none">
                            <p>No payments have been made yet</p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<script>

    function onRowBound(e) {
        var grid = $("#OrderGrid").data("kendoGrid");
        var gridData = grid.dataSource.view();

        if (gridData.length == 0) {
            document.getElementById('grid').style.display = "none";
            document.getElementById('catch').style.display = "block";
        }
        else {
            document.getElementById('grid').style.display = "block";
            document.getElementById('catch').style.display = "none";
        }
    }

</script>
