﻿@using Models;
@model DiscountCodeModel
@{
    ViewBag.Title = "Manage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="page-title">
    <div class="title_left">
        <h3>Payments</h3>
    </div>
</div>

<div class="clearfix"></div>

<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>Generate New Discount Code @*<small>different form elements</small>*@</h2>
                <ul class="nav navbar-right panel_toolbox">
                    <li class="pull-right">
                    </li>
                </ul>
                <div class="row clearfix"></div>
            </div>
            <div class="x_content">
                <br>
@using (Html.BeginForm("Manage", "Payments", null, FormMethod.Post, new { role = "form", enctype = "multipart/form-data" }))
{
                @Html.AntiForgeryToken()
                <div class="row clearfix">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="form-group">
                            @Html.Label("Discount Percentage")
                            @Html.TextBoxFor(m => m.Percentage, new {@class = "form-control", type = "number" })
                        </div>
                        <div class="help-block">
                            @Html.ValidationMessageFor(m => m.Percentage)
                        </div>
                    </div>
                </div>
                <div class="row clearfix">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <button type="submit" class="btn btn-primary">Generate</button>
                    </div>
                </div>
}
            </div>
        </div>
    </div>
</div>


<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>Discount Codes @*<small>different form elements</small>*@</h2>
                <ul class="nav navbar-right panel_toolbox">
                    <li class="pull-right">
                    </li>
                </ul>
                <div class="row clearfix"></div>
            </div>
            <div class="x_content">
                <br>
                @(Html.Kendo().Grid<DiscountCodeModel>()
                    .Name("DiscountGrid")
                    .Columns(columns =>
                    {
                        columns.Bound(m => m.Percentage).Title("DISCOUNT").ClientTemplate("#:Percentage#%");
                        columns.Bound(m => m.Code).Title("CODE");
                        columns.Bound(m => m).Width(178).ClientTemplate("<a href='javascript: activate(#: (Active == true) ? 'true' : 'false' # , &quot;#: DiscountId #&quot;);' class='btn btn-#: (Active == true) ? 'warning' : 'success' # btn-xs'><i class='fa fa-thumbs-o-#: (Active == true) ? 'down' : 'up' # '></i> #: (Active == true) ? 'Deactivate' : 'Activate' # </a>").HtmlAttributes(new { style = "text-align:center" });
                        columns.Bound(m => m).Width(178).ClientTemplate("<a href='javascript: deleteCode(&quot;#: DiscountId #&quot;);' class='btn btn-danger btn-xs'><i class='fa fa-trash'></i> Delete </a>").HtmlAttributes(new { style = "text-align:center" });
                    })
                    .Resizable(resize => resize.Columns(true))
                    .DataSource(dataSource => dataSource
                        .Ajax()
                        .PageSize(10)
                        .Model(model =>
                        {
                            model.Id(m => m.DiscountId);
                        })
                        .Read(read => read.Action("getDiscountCodes", "Payments"))
                    )
                    .Sortable()
                )

                <div class="row clearfix">
                    <div class="col-md-12 col-sm-12 col-xs-12">

                    </div>
                </div>

            </div>
        </div>
    </div>
</div>


<script>

    function activate(ans, codeid) {
        debugger;
        if(ans == false){
            var posturl = window.location.protocol + "//" + window.location.host + "/Payments/ActivateDiscountCode";
        }
        else {
            var posturl = window.location.protocol + "//" + window.location.host + "/Payments/DeactivateDiscountCode";
        }

        var data = {
            id: codeid
        };

        $.ajax({
            url: posturl,
            data: JSON.stringify(data),
            type: 'POST',
            dataType: 'json',
            contentType: 'application/json; charset=utf-8',
            success: function (result) {

                $('#DiscountGrid').data("kendoGrid").dataSource.read();

            },
            async: true,
            processData: false
        });
    }

    function deleteCode(codeid) {
        debugger;
        var posturl = window.location.protocol + "//" + window.location.host + "/Payments/DeleteDiscountCode";

        var data = {
            id: codeid
        };

        $.ajax({
            url: posturl,
            data: JSON.stringify(data),
            type: 'POST',
            dataType: 'json',
            contentType: 'application/json; charset=utf-8',
            success: function (result) {

                $('#DiscountGrid').data("kendoGrid").dataSource.read();

            },
            async: true,
            processData: false
        });

    }

</script>