﻿@using Models;
@using NewSystem.Models;
@{
    ViewBag.Title = "Payments";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="page-title">
    <div class="title_left">
        <h3>Payments</h3>
    </div>
</div>

@Html.Hidden("Amount",0)
@Html.Hidden("user", int.Parse(ApplicationUser.getPropertyValue("UserID")))

<div class="clearfix"></div>

<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>New Payment</h2>
                <ul class="nav navbar-right panel_toolbox">
                    <li class="pull-right">
                    </li>
                </ul>
                <div class="row clearfix"></div>
            </div>
            <div class="x_content">
                <br>

                <div class="row clearfix">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        @Html.Label("Select Membership Plan")
                        <div class="form-group">     
                            @(Html.Kendo().DropDownList()
                                .Name("ddlPaymentPlans")
                                .DataTextField("Name")
                                .DataValueField("MembershipId")
                                .BindTo(MembershipModel.getAll())
                                .HtmlAttributes(new { style = "width:100%" })
                                .OptionLabel("Please Select...")
                                .Events(e =>
                                    {
                                        e.Change("updateAmount");
                                    })
                            )
                        </div>
                    </div>
                </div>

                <div class="row clearfix">
                    <div class="col-md-6 col-sm-9 col-xs-9">
                        @Html.Label("Discount Code")
                        <div class="form-group">
                            @Html.Kendo().TextBox().Name("Discount").HtmlAttributes(new { style = "width:100%" })
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-3 col-xs-3" style="padding-top: 6.5px">
                        <div class="form-group">
                            <br />
                            <button type="button" class="btn btn-success btn-sm" onclick="redeem()">Redeem</button>
                        </div>
                    </div>
                </div>

                <div class="row clearfix">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        @Html.Label("Amount")
                        <div class="form-group">
                            @Html.Kendo().TextBox().Name("AmountTB").HtmlAttributes(new { style = "width:100%; pointer-events:none" }).Value("R 0.00")
                        </div>
                    </div>
                </div>

                <div class="row clearfix">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <br />
                        <a id="payButton" href="javascript:pay()"><img src="https://www.payfast.co.za/images/buttons/light-large-paynow.png" width="174" height="59" alt="Pay" title="Pay Now with PayFast" /></a>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>History</h2>
                <ul class="nav navbar-right panel_toolbox">
                    <li class="pull-right">
                    </li>
                </ul>
                <div class="row clearfix"></div>
            </div>
            <div class="x_content">
                <br>

                <div class="row clearfix">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div id="grid">
                            @(Html.Kendo().Grid<OrderModel>()
                                .Name("OrderGrid")
                                .Columns(columns =>
                                {
                                    columns.Bound(m => m.DateRecieved).Title("DATE PAID").ClientTemplate("#: kendo.toString(DateRecieved, 'yyyy-MM-dd') #").Width(150);
                                    columns.Bound(m => m.Amount).Title("AMOUNT").ClientTemplate("R#:Amount#.00");
                                    columns.Bound(m => m.Successfull).Title("SUCCESSFULL").ClientTemplate(" <span class='label label-#: (Successfull == true) ? 'success' : 'danger' #'>#: (Successfull == true) ? 'Success' : 'Unsuccessful' #</span> ").HtmlAttributes(new { style = "text-align:center" }).Width(225);

                                })
                                .Resizable(resize => resize.Columns(true))
                                .DataSource(dataSource => dataSource
                                    .Ajax()
                                    .PageSize(10)
                                    .Model(model =>
                                    {
                                        model.Id(m => m.OrderId);
                                    })
                                    .Read(read => read.Action("getOrdersForUser", "Payments"))
                                )
                                .Events(e => e.DataBound("onRowBound"))
                                .Pageable(pageable => pageable
                                .Refresh(true)
                                .ButtonCount(5))
                                .Sortable()
                            )
                        </div>
                        <div id="catch" style="display:none">
                            <p>No payments have been made yet</p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>


<script>

    function updateAmount() {        
        if ($('#ddlPaymentPlans').val() == "") {
            $('#AmountTB').val("R0.00");
            $('#Amount').val(0);
            return;
        }
        var posturl = window.location.protocol + "//" + window.location.host + "/Payments/GetMembershipDetails";
        var data = {
            id: $('#ddlPaymentPlans').val()
        };
        $.ajax({
            url: posturl,
            data: JSON.stringify(data),
            type: 'POST',
            dataType: 'json',
            contentType: 'application/json; charset=utf-8',
            success: function (result) {
                debugger;
                $('#AmountTB').val("R" + result.Price + ".00");
                $('#Amount').val(result.Price);
            },
            async: false,
            processData: false
        });
    }

    function pay() {
        if($('#Amount').val() == 0){
            new PNotify({
                title: 'Select Membership',
                text: 'Please select a membership plan before continuing',
                styling: 'bootstrap3',
                type: 'error',
                icon: 'glyphicon glyphicon-exclamation-sign'
            });
        }
        else {
            var posturl = window.location.protocol + "//" + window.location.host + "/Payments/GetRedirectString";
            var data = {
                amount: $('#Amount').val(),
                userId: $('#user').val()
            };
            $.ajax({
                url: posturl,
                data: JSON.stringify(data),
                type: 'POST',
                dataType: 'json',
                contentType: 'application/json; charset=utf-8',
                success: function (result) {
                    window.open(result);
                },
                async: false,
                processData: false
            });
        }
    }

    function redeem() {
        debugger;
        if ($('#Amount').val() == 0) {
            new PNotify({
                title: 'Select Membership',
                text: 'Please select a membership plan before continuing',
                styling: 'bootstrap3',
                type: 'error',
                icon: 'glyphicon glyphicon-exclamation-sign'
            });
            return;
        }
        if ($('#Discount').val() == "") {
            new PNotify({
                title: 'Enter Discount Code',
                text: 'Please enter a discount code before continuing',
                styling: 'bootstrap3',
                type: 'error',
                icon: 'glyphicon glyphicon-exclamation-sign'
            });
            return;
        }

        var posturl = window.location.protocol + "//" + window.location.host + "/Payments/ConfirmDiscountCode";

        var data = {
            code:  $('#Discount').val()
        };

        $.ajax({
            url: posturl,
            data: JSON.stringify(data),
            type: 'POST',
            dataType: 'json',
            contentType: 'application/json; charset=utf-8',
            success: function (result) {
                debugger;
                if (result == false) {
                    $('#Discount').val("");
                    new PNotify({
                        title: 'Invalid Code',
                        text: 'Please enter a valid discount code',
                        styling: 'bootstrap3',
                        type: 'error',
                        icon: 'glyphicon glyphicon-exclamation-sign'
                    });
                }
                else {
                    var price = $('#Amount').val() * ((100 - result.percentage) / 100);
                    price = price.toFixed(0);

                    $('#AmountTB').val("R" + price + ".00");
                    $('#Amount').val(price);

                    new PNotify({
                        title: 'Successful',
                        styling: 'bootstrap3',
                        type: 'success',
                        icon: 'glyphicon glyphicon-ok'
                    });
                }
            },
            async: true,
            processData: false
        });
    }

    function onRowBound(e) {
        var grid = $("#OrderGrid").data("kendoGrid");
        var gridData = grid.dataSource.view();

        if (gridData.length == 0) {
            document.getElementById('grid').style.display = "none";
            document.getElementById('catch').style.display = "block";
        }
        else {
            document.getElementById('grid').style.display = "block";
            document.getElementById('catch').style.display = "none";
        }
    }

</script>