﻿@using Models
@model PaymentSuccessModel
@{
    ViewBag.Title = "PaymentSuccess";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            @*<div class="x_title">
                <h2>P</h2>
                <ul class="nav navbar-right panel_toolbox">
                    <li class="pull-right">
                    </li>
                </ul>
                <div class="row clearfix"></div>
            </div>*@
            <div class="x_content">
                <br>
                <div class="row clearfix">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <h2 style="font-size:25px">Payment Recieved</h2>
                        <hr />
                        <p style="font-size:15px">Thank you. Your payment has been recieved.</p>
                        <br />
                        <p style="font-size:15px"><b>Order Number : </b> @Model.OrderNumber</p>
                        <p style="font-size:15px"><b>Date : </b> @DateTime.Today.ToString("dd MMMM yyyy")</p>
                        <p style="font-size:15px"><b>Total : </b> R @Model.Price</p>
                        <p style="font-size:15px"><b>Payment Method : </b> PayFast</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
