﻿@using Models
@using Common.Database
@{
    ViewBag.Title = "Users";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="page-title">
    <div class="title_left">
        <h3>Users</h3>
    </div>
</div>

<div class="clearfix"></div>

<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>Mentors @*<small>different form elements</small>*@</h2>
                <ul class="nav navbar-right panel_toolbox">
                    <li class="pull-right">
                        <button type="button" class="btn btn-primary" onclick="redirectTo('Mentors')">Add Mentor</button>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="x_content" style="display: block;">
                <br />
                @(Html.Kendo().Grid<UserModel>()
                    .Name("UserGrid")
                    .Columns(columns =>
                    {
                        columns.Bound(m => m.FirstName).Title("FIRST NAME");
                        columns.Bound(m => m.LastName).Title("LAST NAME");
                        columns.Bound(m => m.UserName).Title("USERNAME");
                        columns.Bound(m => m.EmailAddress).Title("EMAIL ADDRESS");
                        columns.Bound(m => m.DateJoined).ClientTemplate("#: kendo.toString(DateJoined, 'dd MMM yyyy') #").Width(250).Title("JOINED");
                    })
                    .Resizable(resize => resize.Columns(true))
                    .DataSource(dataSource => dataSource
                        .Ajax()
                        .PageSize(10)
                        .Model(model =>
                        {
                            model.Id(m => m.id);
                        })
                        .Read(read => read.Action("getMentors", "Users"))
                    )
                    .Sortable()
                )
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>Client Base @*<small>different form elements</small>*@</h2>
                <ul class="nav navbar-right panel_toolbox">
                    <li class="pull-right">
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="x_content" style="display: block;">

                @{
                    IEnumerable<UserModel> users = UserModel.getAllLegit();
                    foreach (UserModel user in users)
                    {
                        UserStatsModel stats = UserStatsModel.get(user.id);
                        profile_pictures pic = Common.Files.geProfilePicture(user.id);

                        <div class="col-md-3 col-xs-12 widget widget_tally_box">
                            <div class="x_panel ui-ribbon-container fixed_height_390">
                                <div class="x_content">
                                    <div class="flex">

                                        @if (stats.Gender == true) //male
                                        {
                                            <ul class="list-inline widget_profile_box" style="background: #00b0ff !important">
                                                <li></li>
                                                <li>
                                                    @if (pic != null)
                                                    {<img src="@Url.Content("~/Content/")images/profilepics/@pic.name" alt="..." class="img-circle profile_img">}
                                                    else
                                                    {<img src="@Url.Content("~/Content/")images/profilepics/avatar.png" alt="..." class="img-circle profile_img">}
                                                </li>
                                                <li style="font-size: 25px;color: black;">@stats.Age</li>
                                            </ul>
                                        }
                                        else
                                        {
                                            <ul class="list-inline widget_profile_box" style="background: #dc9ce0 !important">
                                                <li></li>
                                                <li>
                                                    @if (pic != null)
                                                    {<img src="@Url.Content("~/Content/")images/profilepics/@pic.name" alt="..." class="img-circle profile_img">}
                                                    else
                                                    {<img src="@Url.Content("~/Content/")images/profilepics/avatar.png" alt="..." class="img-circle profile_img">}
                                                </li>
                                                <li style="font-size: 25px;color: black;">@stats.Age</li>
                                            </ul>
                                        }
                                    </div>
                                    <h3 class="name">@(user.FirstName + " " + user.LastName)</h3>
                                    <div class="flex">
                                        <ul class="list-inline count2">
                                            <li style="padding-left: 170px">
                                                @{
                                                    if (Common.Workout.isClientActive(stats.UserId) == false)
                                                    {
                                                        <span class="label label-danger pull-right" style="text-align:center; vertical-align:middle; font-size:20px">Inactive</span>
                                                    }
                                                    else
                                                    {
                                                        <span class="label label-success pull-right" style="text-align:center; vertical-align:middle; font-size:20px">Active</span>
                                                    }
                                                }
                                            </li>
                                        </ul>
                                    </div>
                                    <ul class="list-unstyled">
                                        <li><i class="fa fa-phone"></i> Contact #: @stats.CellNumber</li>
                                        <li><i class="fa fa-envelope"></i> Email: @user.EmailAddress</li>
                                    </ul>
                                    <br />
                                    <button type="button" class="btn btn-primary btn-xs" onclick="ViewProfile('@user.Guid')">
                                        <i class="fa fa-user"> </i> View Stats
                                    </button>
                                </div>
                            </div>
                        </div>

                    }
                }
            </div>
        </div>
    </div>
</div>



<script>

    function redirectTo(page) {
        var posturl = window.location.protocol + "//" + window.location.host + "/Users/" + page;
        window.location = posturl;
    }

    function ViewProfile(guid) {
        debugger;
        var posturl = window.location.protocol + "//" + window.location.host + "/Users/Single/" + guid;
        window.location = posturl;
    }


</script>