﻿@using Models;
@model UserModel
@{
    ViewBag.Title = "Mentor";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="page-title">
    <div class="title_left">
        <h3>Mentors</h3>
    </div>
</div>

<div class="x_panel">
    <div class="x_title">
        <h2>Add Mentor</h2>
        <div class="clearfix"></div>
    </div>
    <div class="x_content">
        @using (Html.BeginForm("Mentors", "Users", null, FormMethod.Post, new { role = "form", enctype = "multipart/form-data", @class = "form-horizontal form-label-left" }))
        {
            @Html.HiddenFor(m => m.Saved)
            @Html.HiddenFor(m => m.Failed)
            @Html.AntiForgeryToken()
            <div class="row clearfix">     
                <div class="col-md-12 col-sm-12 col-xs-12">
                    @Html.LabelFor(m => m.FirstName)
                    @Html.Kendo().TextBoxFor(m => m.FirstName).HtmlAttributes(new { @class = "form-control" , style="width:100%"})
                    <div class="help-block">
                        @Html.ValidationMessageFor(m => m.FirstName)
                    </div>
                </div>
            </div>
            <br />
            <div class="row clearfix">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    @Html.LabelFor(m => m.LastName)
                    @Html.Kendo().TextBoxFor(m => m.LastName).HtmlAttributes(new { @class = "form-control", style = "width:100%" })
                    <div class="help-block">
                        @Html.ValidationMessageFor(m => m.LastName)
                    </div>
                </div>
            </div>
            <br />
            <div class="row clearfix">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    @Html.LabelFor(m => m.UserName)
                    @Html.Kendo().TextBoxFor(m => m.UserName).HtmlAttributes(new { @class = "form-control", style = "width:100%" })
                    <div class="help-block">
                        @Html.ValidationMessageFor(m => m.UserName)
                    </div>
                </div>
            </div>
            <br />
            <div class="row clearfix">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    @Html.LabelFor(m => m.EmailAddress)
                    @Html.Kendo().TextBoxFor(m => m.EmailAddress).HtmlAttributes(new { @class = "form-control", style = "width:100%" })
                    <div class="help-block">
                        @Html.ValidationMessageFor(m => m.EmailAddress)
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <br />
                    <button type="submit" class="btn btn-primary">Save</button>
                    <button type="button" class="btn btn-default" onclick="redirectToList()">Back</button>
                </div>
            </div>
        }
    </div>
</div>

<script>

    $(document).ready(function () {
        debugger;
        if ($('#Failed').val() == "True") {
            showNotification('Username Already Exists', 'A user with the same username already exists. Please choose another.', 'error', 'glyphicon glyphicon-exclamation-sign');
            $('#UserName').val("");
        }

        if ($('#Saved').val() == "True")
            showNotification('Successfull!', 'A new mentor has been added', 'success', 'glyphicon glyphicon-ok');
    });

    function showNotification(title,text,type,icon) {
        new PNotify({
            title: title,
            text: text,
            styling: 'bootstrap3',
            type: type,
            icon: icon
        });
    }

    function redirectToList() {
        var posturl = window.location.protocol + "//" + window.location.host + "/Users/List";
        window.location = posturl;
    }

</script>