﻿@using Models;
@model UserModel

@{
    ViewBag.Title = "Single";
    Layout = "~/Views/Shared/_Layout.cshtml";
    UserStatsModel stats = UserStatsModel.get(Model.id);
}

        <div class="page-title">
            <div class="title_left">
                <h3>@(Model.FirstName + " " + Model.LastName)</h3>
            </div>
        </div>

        <div class="clearfix"></div>

        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>Client Details</h2>
                        <ul class="nav navbar-right panel_toolbox">
                            <li class="pull-right">

                            </li>
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
@using (Html.BeginForm("Single", "Clients", null, FormMethod.Post, new { role = "form", enctype = "multipart/form-data", @class="form-horizontal form-label-left"}))
{
                            @Html.AntiForgeryToken()
                            <h2>Login Info</h2>
                            <div class="form-group has-feedback">
                                @Html.LabelFor(m => m.UserName, new { @class= "control-label col-md-3 col-sm-3 col-xs-12 " })
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    @Html.TextBoxFor(m => m.UserName, new { @class = "form-control has-feedback-left col-md-7 col-xs-12", @readonly = "readonly" })
                                    <span class="fa fa-user form-control-feedback left" aria-hidden="true"></span>
                                </div>
                            </div>

                            <div class="ln_solid"></div>

                        <form id="demo-form2" data-parsley-validate="" class="form-horizontal form-label-left" novalidate="">
                            <h2>Personal Info</h2>
                            <div class="form-group has-feedback">
                                @Html.LabelFor(m => m.FirstName, new { @class = "control-label col-md-3 col-sm-3 col-xs-12 " })
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control has-feedback-left col-md-7 col-xs-12", @readonly = "readonly" })
                                    <span class="fa fa-user form-control-feedback left" aria-hidden="true"></span>
                                </div>
                            </div>
                            <div class="form-group has-feedback">
                                @Html.LabelFor(m => m.LastName, new { @class = "control-label col-md-3 col-sm-3 col-xs-12 " })
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    @Html.TextBoxFor(m => m.LastName, new { @class = "form-control has-feedback-left col-md-7 col-xs-12", @readonly = "readonly" })                                    
                                    <span class="fa fa-user form-control-feedback left" aria-hidden="true"></span>
                                </div>
                            </div>
                            <div class="form-group has-feedback">
                                @Html.Label("Gender", new { @class = "control-label col-md-3 col-sm-3 col-xs-12 " })
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    @Html.TextBox("Gender", (stats.Gender == true) ? "Male": "Female", new { @class = "form-control has-feedback-left col-md-7 col-xs-12", @readonly = "readonly" })
                                    <span class="fa fa-venus-mars form-control-feedback left" aria-hidden="true"></span>
                                </div>
                            </div>
                            <div class="form-group has-feedback">
                                @Html.Label("Birthday", new { @class = "control-label col-md-3 col-sm-3 col-xs-12 " })
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    @Html.TextBox("Birthday", stats.Birthday.ToString("dd MMM yyyy"), new { @class = "form-control has-feedback-left col-md-7 col-xs-12", @readonly = "readonly" })
                                    <span class="fa fa-calendar-check-o form-control-feedback left" aria-hidden="true"></span>
                                </div>
                            </div>
                            <div class="form-group has-feedback">
                                @Html.LabelFor(m => m.EmailAddress, new { @class = "control-label col-md-3 col-sm-3 col-xs-12 " })
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    @Html.TextBoxFor(m => m.EmailAddress, new { @class = "form-control has-feedback-left col-md-7 col-xs-12", @readonly = "readonly" })
                                    <span class="fa fa-envelope form-control-feedback left" aria-hidden="true"></span>
                                </div>
                            </div>
                            <div class="form-group has-feedback">
                                @Html.Label("CellNumber", new { @class = "control-label col-md-3 col-sm-3 col-xs-12 " })
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    @Html.TextBox("CellNumber", stats.CellNumber, new { @class = "form-control has-feedback-left col-md-7 col-xs-12", @readonly = "readonly" })
                                    <span class="fa fa-phone form-control-feedback left" aria-hidden="true"></span>
                                </div>
                            </div>
                        </form>
                        <div class="ln_solid"></div>


                        <form id="demo-form3" data-parsley-validate="" class="form-horizontal form-label-left" novalidate="">
                            <h2>Fitness Info</h2>
                            <div class="form-group has-feedback">
                                @Html.Label("Goal", new { @class = "control-label col-md-3 col-sm-3 col-xs-12 " })
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    @Html.TextArea("Goal", stats.Goal, new { @class = "form-control has-feedback-left col-md-7 col-xs-12", @readonly = "readonly", style ="height:100px" })
                                    <span class="fa fa-futbol-o form-control-feedback left" aria-hidden="true"></span>
                                </div>
                            </div>
                            <div class="form-group has-feedback">
                                @Html.Label("Weight", new { @class = "control-label col-md-3 col-sm-3 col-xs-12 " })
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    @Html.TextBox("Weight", stats.Weight.ToString() + " kg", new { @class = "form-control has-feedback-left col-md-7 col-xs-12", @readonly = "readonly" })
                                    <span class="fa fa-balance-scale form-control-feedback left" aria-hidden="true"></span>
                                </div>
                            </div>
                            <div class="form-group has-feedback">
                                @Html.Label("Height", new { @class = "control-label col-md-3 col-sm-3 col-xs-12 " })
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    @Html.TextBox("Height", stats.Height.ToString() + " cm", new { @class = "form-control has-feedback-left col-md-7 col-xs-12", @readonly = "readonly" })
                                    <span class="fa fa-arrows-v form-control-feedback left" aria-hidden="true"></span>
                                </div>
                            </div>
                            <div class="form-group has-feedback">
                                @Html.Label("Days Training Per Week", new { @class = "control-label col-md-3 col-sm-3 col-xs-12 " })
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    @Html.TextBox("DTPR", stats.Days_Trianing_Per_Week, new { @class = "form-control has-feedback-left col-md-7 col-xs-12", @readonly = "readonly" })
                                    <span class="fa fa-calendar-check-o form-control-feedback left" aria-hidden="true"></span>
                                </div>
                            </div>
                            <div class="form-group has-feedback">
                                @Html.Label("Location", new { @class = "control-label col-md-3 col-sm-3 col-xs-12 " })
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    @Html.TextBox("Location", stats.Gym_Home, new { @class = "form-control has-feedback-left col-md-7 col-xs-12", @readonly = "readonly" })
                                    <span class="fa fa-map-marker form-control-feedback left" aria-hidden="true"></span>
                                </div>
                            </div>
                            <div class="form-group has-feedback">
                                @Html.Label("Injuries", new { @class = "control-label col-md-3 col-sm-3 col-xs-12 " })
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    @Html.TextArea("Injuries", stats.Injuries, new { @class = "form-control has-feedback-left col-md-7 col-xs-12", @readonly = "readonly", style = "height:100px" })
                                    <span class="fa fa-wheelchair form-control-feedback left" aria-hidden="true"></span>
                                </div>
                            </div>
                            <div class="form-group has-feedback">
                                @Html.Label("Exercise History", new { @class = "control-label col-md-3 col-sm-3 col-xs-12 " })
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    @Html.TextArea("History", stats.ExerciseHistory, new { @class = "form-control has-feedback-left col-md-7 col-xs-12", @readonly = "readonly", style = "height:100px" })
                                    <span class="fa fa-history form-control-feedback left" aria-hidden="true"></span>
                                </div>
                            </div>
                            
                        </form>

                        <div class="form-group">
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <br />
                                <button type="button" class="btn btn-default" onclick="redirectToList()">Back</button>
                            </div>
                        </div>
}
                    </div>
                </div>
            </div>
        </div>


<script>

    function redirectToList() {
        var posturl = window.location.protocol + "//" + window.location.host + "/Users/List";
        window.location = posturl;
    }

</script>
