﻿@using Models;
@model WorkoutModel
@{
    ViewBag.Title = "Programs";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

        <div class="page-title">
            <div class="title_left">
                <h3>Programs</h3>
            </div>
        </div>

        <div class="clearfix"></div>


        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>Create New Program <small>Enter a workout name, assign it to a client and click save to start building a new program</small></h2>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
            @using (Html.BeginForm("CreateNew", "Programs", null, FormMethod.Post, new { role = "form", enctype = "multipart/form-data" }))
            {
                @Html.AntiForgeryToken()
                @Html.HiddenFor(m=>m.NumberOfDays)
                @Html.HiddenFor(m => m.WorkoutId)
                @Html.HiddenFor(m => m.Saved)
                @Html.HiddenFor(m => m.Editing)
                @Html.Hidden("Date", DateTime.Now.ToString("yyyy-MM-dd"))

                        <div class="row clearfix">
                            <div class="col-md-12 col-sm-12 col-xs-12"><br>
                                <div class="form-group">
                                    @Html.LabelFor(m => m.Name)
                                    @Html.Kendo().TextBoxFor(m => m.Name).HtmlAttributes(new { placeholder = "Enter workout name", @class = "form-control", style="width:100%" })
                                </div>
                                <div class="help-block">
                                    @Html.ValidationMessageFor(m => m.Name)
                                </div>
                            </div>
                        </div>

                        <div class="row clearfix">
                            <div class="col-md-6 col-sm-12 col-xs-12"><br>
                                <div class="form-group">
                                    @Html.LabelFor(m => m.ClientId)
                                    <div class="form-line">
                                        @{
                                            IEnumerable<UserModel> users = UserModel.getAllLegit();
                                        }
                                        @(Html.Kendo().DropDownListFor(m => m.ClientId)
                                                .DataTextField("FullName")
                                                .DataValueField("id")
                                                .BindTo(users)
                                                .HtmlAttributes(new { style = "width: 100%" })
                                                .OptionLabel("Please Select")
                                        )

                                        @*@Html.DropDownListFor(m=>m.ClientId, new SelectList(UserModel.getAll(), "id", "FullName"), "Select Client", new { @class = "form-control"})*@
                                    </div>
                                    <div class="help-block">
                                        @Html.ValidationMessageFor(m => m.ClientId)
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-12 col-xs-12">
                                <br>
                                <div class="form-group">
                                    <label>Number of days</label>
                                    <div class="form-line">
                                        @(Html.Kendo().DropDownList()
                                            .Name("ddlSetNumber")
                                            .DataTextField("Value")
                                            .DataValueField("Value")
                                            .OptionLabel("Please Select")
                                            .Events(e => e.Change("loadSetTables"))
                                            .BindTo(new List<SelectListItem>() {
                                             new SelectListItem() {Text="1", Value="1"},
                                             new SelectListItem() {Text="2", Value="2"},
                                             new SelectListItem() {Text="3", Value="3"},
                                             new SelectListItem() {Text="4", Value="4"},
                                             new SelectListItem() {Text="5", Value="5"},
                                             new SelectListItem() {Text="6", Value="6"},
                                             new SelectListItem() {Text="7", Value="7"},
                                             new SelectListItem() {Text="8", Value="8"}
                                            })
                                            .HtmlAttributes(new { style = "width: 100%", disabled = "disbaled" })
                                        )
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row clearfix">
                            <div class="col-md-6 col-sm-12 col-xs-12">
                                <br>
                                <div class="form-group">
                                    @Html.Label("Start Date")
                                    <div class="form-line">
                                        @(Html.Kendo().DatePickerFor(m => m.Start_Date)
                                          .Enable(false)
                                          .HtmlAttributes(new { style = "width: 100%" })
                                        )
                                    </div>
                                    <div class="help-block">
                                        @Html.ValidationMessageFor(m => m.Start_Date)
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-12 col-xs-12">
                                <br>
                                <div class="form-group">
                                    @Html.Label("Expiration Date")
                                    <div class="form-line">
                                        @(Html.Kendo().DatePickerFor(m => m.Expiry_Date)
                                          .Enable(false)
                                          .HtmlAttributes(new { style = "width: 100%" })
                                        )
                                    </div>
                                    <div class="help-block">
                                        @Html.ValidationMessageFor(m => m.Expiry_Date)
                                    </div>
                                </div>
                            </div>
                        </div>

                        
                        <div id="sets">
                            @{
                                for (int x = 1; x < 8 + 1; x++)
                                {

                                    <div class="row clearfix" id="SetTable@(x)">
                                        <br>
                                        <label>Day @x</label>
                                        <div class="col-md-12 col-sm-12 col-xs-12">
                                            @(Html.Kendo().Grid<WorkoutElementModel>()
                                                .Name("WorkoutElementGrid" + @x.ToString())
                                                .Columns(columns =>
                                                {
                                                    columns.Bound(m => m.Exercise_Id).Title("EXERCISE").Width(300).ClientTemplate("#: Exercise_Name #").EditorTemplateName("ExerciseList");
                                                    columns.Bound(m => m.RepCount).Title("REP COUNT").Width(140).EditorTemplateName("Textbox");
                                                    columns.Bound(m => m.Sets).Title("NUMBER OF SETS").Width(175).EditorTemplateName("Textbox");
                                                    columns.Bound(m => m.Rest).Title("REST").Width(180).EditorTemplateName("Textbox");
                                                    columns.Bound(m => m.CommentFromMentor).Title("COMMENT").Width(605).EditorTemplateName("Textbox");
                                                    columns.Command(command => { command.Edit(); command.Destroy(); }).Width(250).HtmlAttributes(new { style = "text-align:center" });
                                                })
                                                .ToolBar(toolbar => toolbar.Create().Text(" Add Exercise"))
                                                .Editable(editable => editable.Mode(GridEditMode.InLine))
                                                .Resizable(resize => resize.Columns(true))
                                                .DataSource(dataSource => dataSource
                                                    .Ajax()
                                                    .PageSize(10)
                                                    .Events(events => events.Error("error_handler").RequestEnd("request_end"))
                                                    .Model(model =>
                                                    {
                                                        model.Id(m => m.id);
                                                    })
                                                    .Read(read => read.Action("GetWorkoutElementsPerDay", "Programs", new { programId = Model.WorkoutId , day = @x }))
                                                    .Create(update => update.Action("AddWorkoutElement", "Programs", new { programId = Model.WorkoutId, day = @x }))
                                                    .Update(update => update.Action("UpdateWorkoutElement", "Programs"))
                                                    .Destroy(update => update.Action("DeleteWorkoutElement", "Programs"))
                                                )
                                                .Sortable()
                                            )

                                        </div>
                                    </div>
                                }
                            }
                        </div>
                        <div class="row clearfix">
                            <div class="col-md-12 col-sm-12 col-xs-12"><br>
                                <div class="form-group">
                                    <button type="submit" class="btn btn-primary">Save</button>
                                    <button type="button" class="btn btn-default" onclick="redirectToList()">Back</button>
                                </div>
                            </div>
                        </div>
                        }
                    </div>
                </div>
            </div>
        </div>

<script>

    $(document).ready(function () {
        var dropdownlist = $("#ddlSetNumber").data("kendoDropDownList");
        var startDate = $("#Start_Date").data("kendoDatePicker");
        var expiryDate = $("#Expiry_Date").data("kendoDatePicker");

        if ($('#WorkoutId').val() != 0) {
            dropdownlist.enable();
            expiryDate.enable();
            startDate.enable();
        }

        if ($('#Saved').val() == "True")
            showNotification();
        
        if ($('#Editing').val() == "True")
            dropdownlist.value($("#NumberOfDays").val());

        loadSetTables();
    });

    function showNotification() {
        new PNotify({
            title: 'Successfull!',
            text: 'You have started a new program. Begin by selecting the number of days.',
            styling: 'bootstrap3',
            type: 'success',
            icon: 'glyphicon glyphicon-ok'
        });

    }

    function loadSetTables() {
        var number = $('#ddlSetNumber').val();
        if (number == "")
            number = 0;

        $('#NumberOfDays').val(number);

        for (var i = 1; i < 9 ; i++)
            document.getElementById('SetTable' + i).style.display = 'block';

        for (var x = 8; x > (parseInt(number)) ; x--)
            document.getElementById('SetTable'+x).style.display = 'none';
    }

    function redirectToList() {

        var posturl = window.location.protocol + "//" + window.location.host + "/Programs/List";
        window.location = posturl;
    }

    //refreshes grid after adding/updating a quote item
    function request_end(e) {
        if (e.type == "update" || e.type == "create") {
            if (!e.response.Errors) {
                e.sender.read();
            }
        }
    }

    function error_handler(e) {
        if (e.errors) {
            var message = "Errors:\n";
            $.each(e.errors, function (key, value) {
                if ('errors' in value) {
                    $.each(value.errors, function () {
                        message += this + "\n";
                    });
                }
            });
            alert(message);
        }
    }

</script>