﻿
@{
    ViewBag.Title = "Feedback";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>Feedback From Clients</h2>
                <ul class="nav navbar-right panel_toolbox">
                    <li class="pull-right">
                    </li>
                </ul>
                <div class="row clearfix"></div>
            </div>
            <div class="x_content">
                <div class="row clearfix">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <ul class="messages">
                            @{
                                IEnumerable<Models.WorkoutFeedbackModel> feedbacks = Models.WorkoutFeedbackModel.getAll();

                                foreach (Models.WorkoutFeedbackModel feedback in feedbacks)
                                {
                                    Common.Database.profile_pictures pic = Common.Files.geProfilePicture(feedback.UserId);

                                    <li>
                                        <a href="~/Programs/CreateNew/@(feedback.ProgramGuid)">
                                            <img src="@Url.Content("~/Content/")images/profilepics/@((pic == null) ? "avatar.png" : pic.name)" class="avatar" alt="Avatar">
                                            <div class="message_date">
                                                <h3 class="date text-info">@feedback.Last_Updated.Day.ToString()</h3>
                                                <p class="month">@feedback.Last_Updated.ToString("MMMM")</p>
                                            </div>
                                            <div class="message_wrapper">
                                                <h4 class="heading">@feedback.UserFullName</h4>
                                                <blockquote class="message">@feedback.Feedback</blockquote>
                                                <br>
                                                <p class="url" style="color:#e0883d">
                                                    @feedback.ProgramName
                                                </p>
                                            </div>
                                        </a>
                                    </li>
                                }
                            }
                            
                        </ul>
                    </div>
                    <a href="~/Programs/ConfirmSuccess">testword</a>
                </div>
            </div>
        </div>
    </div>  
</div>















