﻿@using Models;
@{
    ViewBag.Title = "List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="page-title">
    <div class="title_left">
        <h3>Programs</h3>
    </div>
</div>

<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>All Programs @*<small>different form elements</small>*@</h2>
                <ul class="nav navbar-right panel_toolbox">
                    <li class="pull-right">
                        <button type="button" class="btn btn-primary" onclick="redirectToSingle()">Create New Program</button>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <br>

                @(Html.Kendo().Grid<WorkoutModel>()
                    .Name("WorkoutGrid")
                    .Columns(columns =>
                    {
                        columns.Bound(m => m).Width(80).ClientTemplate("<a href='javascript: copyWorkout(&quot;#: WorkoutId #&quot;);' class='btn btn-warning btn-xs'><i class='fa fa-clipboard'></i> </a>").HtmlAttributes(new { style = "text-align:center" });
                        columns.Bound(m => m.Date_Created).Title("CREATED").ClientTemplate("#: kendo.toString(Date_Created, 'dd MMM yyyy') #");
                        columns.Bound(m => m.Name).Title("NAME");
                        columns.Bound(m => m.ClientName).Title("CURRENTLY ASSIGNED TO");
                        columns.Bound(m => m).ClientTemplate("<div class='progress' ><div class='progress-bar' role='progressbar' aria-valuenow='#: Math.round((CompletedDays/NumberOfDays)*100 , 0) #' aria-valuemin='0' aria-valuemax='100' style='width:#:Math.round((CompletedDays/NumberOfDays)*100 , 0)#%'>#: Math.round((CompletedDays/NumberOfDays)*100 , 0) #%</div></div>").Width(250).Title("PROGRESS").Sortable(false);
                        columns.Bound(m => m.Start_Date).Title("STARTS").ClientTemplate("#: kendo.toString(Start_Date, 'dd MMM yyyy') #");
                        columns.Bound(m => m.Expiry_Date).Title("EXPIRES").ClientTemplate("#: kendo.toString(Expiry_Date, 'dd MMM yyyy') #");
                        columns.Bound(m => m).Width(178).ClientTemplate("<a href='javascript: edit(&quot;#: Guid #&quot;);' class='btn btn-info btn-xs'><i class='fa fa-pencil'></i> Edit </a> <a href='javascript: Delete(&quot;#: id #&quot;);' class='btn btn-danger btn-xs'><i class='fa fa-trash-o'></i> Delete </a>").HtmlAttributes(new { style = "text-align:center" });
                    })
                    .Resizable(resize => resize.Columns(true))
                    .DataSource(dataSource => dataSource
                        .Ajax()
                        .PageSize(10)
                        .Model(model =>
                        {
                            model.Id(m => m.WorkoutId);
                        })
                        .Read(read => read.Action("getWorkouts", "Programs"))
                    )
                    .Events(e => e.DataBound("onRowBound"))
                    .Pageable(pageable => pageable
                    .Refresh(true)
                    .ButtonCount(5))
                    .Sortable()
                )

            </div>
        </div>
    </div>
</div>

<script>

    function redirectToSingle() {
        var posturl = window.location.protocol + "//" + window.location.host + "/Programs/CreateNew";
        window.location = posturl;
    }

    function edit(guid) {
        var posturl = window.location.protocol + "//" + window.location.host + "/Programs/CreateNew/" + guid;
        window.location = posturl;
    }

    function Delete(id) {
        var posturl = window.location.protocol + "//" + window.location.host + "/Programs/DeleteWorkout";

        var data = {
            id: id
        };

        $.ajax({
            url: posturl,
            data: JSON.stringify(data),
            type: 'POST',
            dataType: 'json',
            contentType: 'application/json; charset=utf-8',
            success: function (result) {

                $('#WorkoutGrid').data("kendoGrid").dataSource.read();

            },
            async: true,
            processData: false
        });
    }

    function copyWorkout(workoutId) {
        var posturl = window.location.protocol + "//" + window.location.host + "/Programs/copyWorkout";

        var data = {
            workoutId: workoutId
        };

        $.ajax({
            url: posturl,
            data: JSON.stringify(data),
            type: 'POST',
            dataType: 'json',
            contentType: 'application/json; charset=utf-8',
            success: function (result) {

                edit(result);

            },
            async: true,
            processData: false
        });
    }

    function onRowBound() {
        var grid = $("#WorkoutGrid").data("kendoGrid");
        var gridData = grid.dataSource.view();

        for (var i = 0; i < gridData.length; i++) {
            var expiryDate = new Date(gridData[i].Expiry_Date);
            var startDate = new Date(gridData[i].Start_Date);
            var currentDate = new Date();

            if (expiryDate < currentDate) {
                grid.table.find("tr[data-uid='" + gridData[i].uid + "']")[0].childNodes[5].bgColor = "#F9AF5B";
                grid.table.find("tr[data-uid='" + gridData[i].uid + "']")[0].childNodes[6].bgColor = "#F9AF5B";
            }
            else if (startDate <= currentDate) {
                grid.table.find("tr[data-uid='" + gridData[i].uid + "']")[0].childNodes[5].bgColor = "#5DF474";
            }
        }
    }

</script>