﻿@using NewSystem.Models;
@using Common.Database.CustomDataModels;
@using Common.Database;
@using Common;
@using Models;

@{
    ViewBag.Title = "My Programs";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="page-title">
    <div class="title_left">
        <h3>My Programs</h3>
    </div>
</div>

<div class="clearfix"></div>

@{IEnumerable<workout_custom> workouts = Workout.getWorkoutsForUser(int.Parse(ApplicationUser.getPropertyValue("UserID")));
    IEnumerable<client_current_program> currentDetails = Workout.getAllClientProgramDetails(int.Parse(ApplicationUser.getPropertyValue("UserID")));
}

@{
    if (workouts.Count() != 0)
    {

        foreach (workout_custom workout in workouts)
        {
            client_current_program workoutstats = new client_current_program();
            foreach (client_current_program details in currentDetails) {
                if (workout.id == details.programId)
                {
                    workoutstats = details;
                }
            }

            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="x_panel">
                        <div class="x_title">
                            <h2>@workout.name</h2>
                            <ul class="nav navbar-right panel_toolbox">
                                <li class="pull-right">
                                    <button type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#tipsModel"><i class="fa fa-info-circle"> </i></button>
                                </li>
                            </ul>
                            <div class="clearfix"></div>
                        </div>
                        <div class="x_content">
                            
                            @* model start *@
                            <div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" id="tipsModel" aria-hidden="true" style="display: none">
                                <div class="modal-dialog modal-lg">
                                    <div class="modal-content">

                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal">
                                                <span aria-hidden="true">×</span>
                                            </button>
                                            <h4 class="modal-title" id="myModalLabel">How To Use</h4>
                                        </div>
                                        <div class="modal-body">
                                            <p style="font-size:15px; text-align:center"><b> Your program is displayed below as a list of days. The blue progress bar at the top of the page indicates your progress in the program.</b></p>
                                            <p> - To view a day’s workout, click on the chosen day and a list of exercises will be displayed.</p>
                                            <p> - To view an explanatory video of the exercise, click the ‘tips’ button.</p>
                                            <p> - After you’ve completed the workout for the day, check the box at the bottom showing ‘Day x is complete!’.</p>
                                            <p> - Remember to save your progress after each day.</p>
                                            <p> - You may provide much appreciated feedback on the program below in the textbox labelled ‘Feedback on this program:’.</p>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            @* model end *@





                            @{int counter = 1; int VideoCounter = 1;}
                            

                            <input type="hidden" name="Language" value="true" style="display:none" id="HasProgram">

                            <div class="progress progress_wide" style="width: 100%;">
                                <div id="percentComplete@(workout.id)" class="progress-bar progress-bar-info" role="progressbar" data-transitiongoal="0"><p id="percentCompleteLabel">0% complete</p></div>
                            </div>

                            <div class="accordion" id="accordion" role="tablist" aria-multiselectable="true">
                                @for (int i = 1; i < workout.number_of_days + 1; i++)
                                {
                                    { counter = 1; }
                                    <div class="panel">
                                        <a class="panel-heading collapsed" role="tab" id="heading@(i)-@(workout.id)" data-toggle="collapse" data-parent="#accordion" href="#collapse@(i)-@(workout.id)" aria-expanded="false" aria-controls="collapse@(i)-@(workout.id)">
                                            @if (workoutstats.checked_days != null && workoutstats.checked_days.Contains(i.ToString()))
                                            {
                                                <h4 class="panel-title">Day @(i) &nbsp;&nbsp;&nbsp;<span class="label label-success"><i class="fa fa-check"></i>&nbsp;Complete</span></h4>
                                            }
                                            else
                                            {
                                                <h4 class="panel-title">Day @(i)</h4>
                                            }

                                        </a>
                                        <div id="collapse@(i)-@(workout.id)" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading@(i)-@(workout.id)" aria-expanded="false" style="height: 0px;">
                                            <div class="panel-body">
                                                <ul class="list-unstyled timeline">

                                                    @{  IEnumerable<WorkoutElementModel> workoutelements = WorkoutElementModel.getAllPerProgram(workout.id, i);
                                                        @Html.Hidden("WorkoutElements", workoutelements.Count());
                                                        foreach (WorkoutElementModel element in workoutelements)
                                                        {
                                                        <li>
                                                            <div class="block" style="margin-left: 70px !important">
                                                                <div class="tags" style="width: 34px !important">
                                                                    <a href="" class="tag">
                                                                        <span>@counter</span>
                                                                    </a>
                                                                </div>
                                                                <div class="block_content">
                                                                    <h2 class="title">
                                                                        <a>@element.Exercise_Name</a>
                                                                    </h2>
                                                                    <p class="excerpt">
                                                                        <br />
                                                                        <span style="color:#aab6aa">
                                                                            Sets:
                                                                        </span>
                                                                        @element.Sets
                                                                    </p>
                                                                    <p class="excerpt">
                                                                        <span style="color:#aab6aa">
                                                                            Reps:
                                                                        </span> @element.RepCount
                                                                    </p>
                                                                    <p class="excerpt">
                                                                        <span style="color:#aab6aa">
                                                                            Rest:
                                                                        </span> @element.Rest
                                                                    </p>
                                                                    <p class="excerpt">
                                                                        <span style="color:#aab6aa">
                                                                            Comment:
                                                                        </span> @element.CommentFromMentor
                                                                    </p>
                                                                    <button type="button" class="btn btn-primary btn-xs" data-toggle="modal" data-target="#testmodel@(element.id)-@(workout.id)" onclick="intializeVideoControls(@VideoCounter)">
                                                                        <i class="fa fa-question"> </i> Tips
                                                                    </button>
                                                                </div>
                                                            </div>
                                                        </li>

                                                        //Model showing exercise tips

                                                        <div class="modal fade bs-example-modal-lg" id="testmodel@(element.id)-@(workout.id)" tabindex="-1" role="dialog" aria-hidden="true" style="display: none; padding-right: 17px;">
                                                            <div class="modal-dialog modal-lg">
                                                                <div class="modal-content">

                                                                    <div class="modal-header">
                                                                        <button type="button" class="close" data-dismiss="modal">
                                                                            <span aria-hidden="true">×</span>
                                                                        </button>
                                                                        <h4 class="modal-title" id="myModalLabel">@element.Exercise_Name</h4>
                                                                    </div>
                                                                    <div class="modal-body">
                                                                        @if (element.FileName != null)
                                                                        {
                                                                            <video id="video-@(VideoCounter)" width="380" height="300" style="margin: 0 auto; display: block">
                                                                                <source src="@Url.Content("~/Content/")videos/@element.FileName" type="video/mp4">
                                                                                <source src="@Url.Content("~/Content/")videos/@element.FileName" type="video/ogg">
                                                                                Your browser does not support the video tag.
                                                                            </video>
                                                                            <div id="video-controls">
                                                                                <input type="range" id="seek-bar-@(VideoCounter)" value="0">
                                                                                <br />
                                                                                <button type="button" class="btn btn-sm btn-success" id="play-pause-@(VideoCounter)">Play</button>
                                                                                <button type="button" class="btn btn-sm btn-default" id="full-screen-@(VideoCounter)">Full-Screen</button>
                                                                            </div>
                                                                            <br />
                                                                        }
                                                                        <b>Description:</b>
                                                                        <br />
                                                                        @element.Exercise_Description
                                                                    </div>
                                                                    <div class="modal-footer">
                                                                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                                                    </div>

                                                                </div>
                                                            </div>
                                                        </div>


                                                            { counter++; VideoCounter++; }
                                                        }
                                                    }
                                                </ul>
                                                @if (workoutstats.checked_days != null && workoutstats.checked_days.Contains(i.ToString()))
                                                {
                                                    <input type="checkbox" id="CheckboxDay@(i)-@(workout.id)" class="flat" style="position: absolute; opacity: 0;" checked>
                                                }
                                                else
                                                {
                                                    <input type="checkbox" id="CheckboxDay@(i)-@(workout.id)" class="flat" style="position: absolute; opacity: 0;">
                                                }
                                                <label class="hover" style="padding-left: 10px !important"> Day @(i) is compelete! </label>
                                            </div>
                                        </div>
                                    </div>
                                }
                            </div>
                            <br />
                            @{
                                workout_feedback feed = WorkoutFeedback.getFeedback(int.Parse(ApplicationUser.getPropertyValue("UserID")), workout.id);
                                string feedback = "";
                                if (feed != null) { feedback = feed.feedback; }
                            }
                            <div class="form-group">
                                <p>Feedback on this program:</p>
                                <textarea id="feedback@(workout.id)" class="resizable_textarea k-textbox form-control" style="overflow: hidden; word-wrap: break-word; resize: horizontal; border-radius:6px; width:100%; height:70px">@feedback</textarea>
                            </div>
                            <br />
                            <button type="button" class="btn btn-primary" onclick="saveProgress(@workout.number_of_days,@workout.id)">Save Progress</button>

                        </div>
                    </div>
                </div>
            </div>
        }
    }
    else
    {
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>Current Program</h2>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <p style="color:orangered">No program has been assigned to you.</p>
                        <p style="font-size: 15px">Please make sure your membership has been payed for or contact your mentor via Chat for more info.</p>
                    </div>
                </div>
            </div>
        </div>     
    }

}




<script>

    var progressBar = $('.progress-bar');
    var percentVal = -1;
    var max = 0;
    var video;
    var playButton;
    var fullScreenButton;
    var seekBar;



    window.onload = function () {
         
        loadProgramProgress();
    };

    function intializeVideoControls(number){
        debugger;
        video = document.getElementById("video-"+number.toString());
        playButton = document.getElementById("play-pause-"+number.toString());
        fullScreenButton = document.getElementById("full-screen-"+number.toString());
        seekBar = document.getElementById("seek-bar-"+number.toString());

        playButton.addEventListener("click", function() {
            if (video.paused == true) {
                video.play();
                playButton.innerHTML = "Pause";
            } else {
                video.pause();
                playButton.innerHTML = "Play";
            }
        });

        fullScreenButton.addEventListener("click", function() {
            if (video.requestFullscreen) {
                video.requestFullscreen();
            } else if (video.mozRequestFullScreen) {
                video.mozRequestFullScreen(); // Firefox
            } else if (video.webkitRequestFullscreen) {
                video.webkitRequestFullscreen(); // Chrome and Safari
            }
        });

        seekBar.addEventListener("change", function() {
            var time = video.duration * (seekBar.value / 100);
            video.currentTime = time;
        });
    }

    function loadProgramProgress() {
        debugger;
        if ($('#HasProgram').val() == 'true') {

            var posturl = window.location.protocol + "//" + window.location.host + "/Programs/GetClientProgramDetails";

            var data = {};

            $.ajax({
                url: posturl,
                data: JSON.stringify(data),
                type: 'POST',
                dataType: 'json',
                contentType: 'application/json; charset=utf-8',
                success: function (result) {

                    if (result != null) {
                        debugger;
                        max = (result[0].completed_days / result[0].program_days) * 100;
                        max = max.toFixed(2);

                        var progress = window.setInterval(function () {
                            percentVal += 1;
                            $('#percentComplete'+result[0].programId).css("width", percentVal + '%').attr("aria-valuenow", percentVal + '%').text(percentVal + '%');

                            if (percentVal >= max) {
                                clearInterval(progress);
                            }

                        }, 50);
                    }

                },
                async: false,
                processData: false
            });

        }
    }

    function saveProgress(days,programID) {
        debugger;
        var checkedDays = "";
        var completedDays = 0;
        for(var x = 1; x<days+1; x++){
            if($('#CheckboxDay' + x +"-" + programID)[0].checked == true){
                checkedDays += "," + x;
                completedDays += 1;
            }
        }

        var posturl = window.location.protocol + "//" + window.location.host + "/Programs/UpdateClientCurrentWorkoutDetails";

        var data = {
            completedDays: completedDays,
            checkedDays: checkedDays,
            programId: programID,
            feedback: $('#feedback'+programID).val()
        };

        $.ajax({
            url: posturl,
            data: JSON.stringify(data),
            type: 'POST',
            dataType: 'json',
            contentType: 'application/json; charset=utf-8',
            success: function (result) {
                location.reload();
            },
            async: false,
            processData: false
        });


    }

</script>