﻿@using Models;
@{
    ViewBag.Title = "Exercises";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="page-title">
    <div class="title_left">
        <h3>Exercises</h3>
    </div>
</div>

<div class="clearfix"></div>

<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>All Exercises @*<small>different form elements</small>*@</h2>
                <ul class="nav navbar-right panel_toolbox">
                    <li class="pull-right">
                        <button type="button" class="btn btn-primary" onclick="redirectToSingle()">New Exercise</button>
                    </li>
                </ul>
                <div class="row clearfix"></div>
            </div>
            <div class="x_content">
                <br>
                @(Html.Kendo().Grid<ExerciseModel>()
                    .Name("ExerciseGrid")
                    .Columns(columns =>
                    {
                        columns.Bound(m => m.Name).Title("NAME").Width(250);
                        columns.Bound(m => m.Description).Title("DESCRIPTION").Width(510);
                        columns.Bound(m => m.Date_Created).Title("DATE CREATED").ClientTemplate("#: kendo.toString(Date_Created, 'yyyy-MM-dd') #").Width(150);
                        columns.Bound(m=>m).Width(178).ClientTemplate("<a href='javascript: edit(&quot;#: Guid #&quot;);' class='btn btn-info btn-xs'><i class='fa fa-pencil'></i> Edit </a> <a href='javascript: Delete(&quot;#: ExerciseId #&quot;);' class='btn btn-danger btn-xs'><i class='fa fa-trash-o'></i> Delete </a>").HtmlAttributes(new { style = "text-align:center" });
                    })
                    .Resizable(resize => resize.Columns(true))
                    .DataSource(dataSource => dataSource
                        .Ajax()
                        .PageSize(10)
                        .Model(model =>
                        {
                            model.Id(m => m.ExerciseId);
                        })
                        .Read(read => read.Action("getExercises", "Exercise"))
                    )
                    .Events(e => e.DataBound("onRowBound"))
                    .Pageable(pageable => pageable
                    .Refresh(true)
                    .ButtonCount(5))
                    .Sortable()
                )


            </div>
        </div>
    </div>
</div>


<script>

    function redirectToSingle() {
        var posturl = window.location.protocol + "//" + window.location.host + "/Exercises/Single";
        window.location = posturl;
    }

    function onRowBound(e) {
        $(".glyphicon-edit").removeClass("k-button");
        $(".glyphicon-trash").removeClass("k-button");
    }

    function edit(guid) {
        var posturl = window.location.protocol + "//" + window.location.host + "/Exercises/Single/" + guid;
        window.location = posturl;
    }

    function Delete(id) {
        var posturl = window.location.protocol + "//" + window.location.host + "/Exercise/DeleteExercise";

        var data = {
            id: id
        };

        $.ajax({
            url: posturl,
            data: JSON.stringify(data),
            type: 'POST',
            dataType: 'json',
            contentType: 'application/json; charset=utf-8',
            success: function (result) {

                $('#ExerciseGrid').data("kendoGrid").dataSource.read();

            },
            async: true,
            processData: false
        });

    }

</script>

