﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>HTML5 And CSS3 Login Form For Your Website 2016</title>

    <link href="@Url.Content("~/Content/style.css")" rel="stylesheet">

</head>
<body>
    <div class="login-page">
        <div class="form">
            <form class="register-form">
                <input type="text" placeholder="name" />
                <input type="password" placeholder="password" />
                <input type="text" placeholder="email address" />
                <button>create</button>
                <p class="message">Already registered? <a href="#">Sign In</a></p>
            </form>
            <form class="login-form">
                <input type="text" placeholder="username" />
                <input type="password" placeholder="password" />
                <button>login</button>
                <p class="message">Not registered? <a href="#">Create an account</a></p>
            </form>
        </div>
    </div>

    <script src="@Url.Content("~/Scripts/jquery.min.js")"></script>
    <script src="@Url.Content("~/Scripts/index.js")"></script>
</body>
</html>