﻿@using Models;
@model ExerciseModel

@{
    ViewBag.Title = "New Exercise";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="page-title">
    <div class="title_left">
        <h3>Add New Exercise</h3>
    </div>
</div>

<div class="clearfix"></div>

<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            @using (Html.BeginForm("Single", "Exercise", null, FormMethod.Post, new { role = "form", enctype = "multipart/form-data" }))
            {
                @Html.AntiForgeryToken()
                @Html.HiddenFor(m=>m.ExerciseId)
                <div class="x_title">
                    <h2>New Exercise @*<small>different form elements</small>*@</h2>
                    <ul class="nav navbar-right panel_toolbox">
                        <li class="pull-right">
                            <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <br>
                    <div class="row clearfix">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <div class="form-group">
                                @Html.LabelFor(m => m.Name)
                                @Html.Kendo().TextBoxFor(m => m.Name).HtmlAttributes(new { @class = "form-control", style = "width: 100%;"})
                            </div>
                            <div class="help-block">
                                @Html.ValidationMessageFor(m => m.Name)
                            </div>
                        </div>
                    </div>
                    <div class="row clearfix">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <div class="form-group">
                                @Html.LabelFor(m => m.Description)
                                @Html.TextAreaFor(m => m.Description, new { @class = "k-textbox form-control", style = "width: 100%; height:100px" })
                            </div>
                        </div>
                    </div>
                    <div class="row clearfix">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <br>
                            <label>Upload Instructional Video</label>
                            <div class="form-group">
                                @(Html.Kendo().Upload()
                                    .Name("files")
                                    .Multiple(true)
                                    .HtmlAttributes(new { style = "width:100%" }))
                            </div>
                        </div>
                    </div>
                    @{
                        Common.Database.file video = Common.Files.getFileForExercise(Model.ExerciseId);
                        if (video != null)
                        {
                            <div class="row clearfix">
                                <div class="col-md-12 col-sm-12 col-xs-12">
                                    <video width="380" height="300" controls>
                                        <source src="@Url.Content("~/Content/")videos/@video.name" type="video/mp4">
                                        <source src="@Url.Content("~/Content/")videos/@video.name" type="video/ogg">
                                        Your browser does not support the video tag.
                                    </video>
                                </div>
                            </div>
                        }
                    }
                    <div class="row clearfix">
                        <br>
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <button type="submit" class="btn btn-primary">Save</button>
                            <button type="button" class="btn btn-default" onclick="redirectToList()">Back</button>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>


<script>

    $(document).ready(function () {

    });

    function redirectToList() {
        var posturl = window.location.protocol + "//" + window.location.host + "/Exercises/List";
        window.location = posturl;
    }

</script>
