﻿<!DOCTYPE html>
@using Common.Database.CustomDataModels;
@using Common.Database;
@using NewSystem.Models;
<html lang="en">
<head>

    <link rel="apple-touch-icon" sizes="76x76" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/manifest.json">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#b8b8b8">
    <meta name="apple-mobile-web-app-title" content="Gymentor">
    <meta name="application-name" content="Gymentor">
    <meta name="theme-color" content="#b8b8b8">
    <META NAME="ROBOTS" CONTENT="NOINDEX, FOLLOW">

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Gymentor | @ViewBag.Title</title>


    @*@Styles.Render("~/Content/css")
    @Styles.Render("~/Content/kendocss")*@


    <!-- Bootstrap -->
    <link href="@Url.Content("~/Content/bootstrap.min.css")" rel="stylesheet">
    <!-- Animations -->
    <link href="@Url.Content("~/Content/animate.min.css")" rel="stylesheet">
    <!-- Font Awesome -->
    <link href="@Url.Content("~/Content/font-awesome.min.css")" rel="stylesheet">
    <!-- bootstrap-daterangepicker -->
    <link href="@Url.Content("~/Content/daterangepicker.css")" rel="stylesheet">
    <!-- Custom Theme Style -->
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet">
    <!-- pNotify -->
    <link href="@Url.Content("~/Content/pnotify.custom.min.css")" rel="stylesheet">
    <!-- iCheck -->
    <link href="@Url.Content("~/Content/green.css")" rel="stylesheet">

    <link href="https://cdn.quilljs.com/1.2.2/quill.snow.css" rel="stylesheet">

    <!-- Kendo -->
    <link href="@Url.Content("~/Content/kendo.common-material.min.css")" rel="stylesheet">
    <link href="@Url.Content("~/Content/kendo.material.min.css")" rel="stylesheet">


    @*@Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/kendojquery")*@


</head>
<body class="nav-md">
    <div class="container body">
        <div class="main_container">
            @{
                string isSuperUser = ApplicationUser.getPropertyValue("SuperUser");
                bool Superuser = bool.Parse((isSuperUser == "" ? "false" : isSuperUser));

                string sUserId = ApplicationUser.getPropertyValue("UserID");
                int userId = int.Parse((sUserId == "" ? "0" : sUserId));
                profile_pictures pic;

                if (userId != 0)
                {
                    pic = Common.Files.geProfilePicture(int.Parse(sUserId));
                }
                else
                {
                    pic = Common.Files.geProfilePicture(8);
                }
            }
            <div class="col-md-3 left_col menu_fixed">
                <div class="left_col scroll-view">
                    <div class="navbar nav_title" style="border: 0;">
                        <a href="~/Dashboard/Analytics" class="site_title"><img src="@Url.Content("~/Content/images/thumbnail.png")" /> <span>GYMENTOR</span></a>
                    </div>
                    <div class="clearfix"></div>
                    <!-- menu profile quick info -->
                    <div class="profile clearfix" style="text-align:center">
                        @*<div class="profile_pic">
                            @if (pic != null)
                            {<img src="@Url.Content("~/Content/")images/profilepics/@pic.name" alt="..." class="img-circle profile_img">}
                            else
                            {<img src="@Url.Content("~/Content/")images/profilepics/woman.jpg" alt="..." class="img-circle profile_img" />}
                        </div>*@
                        <div class="profile_info">
                            @*<span>Welcome,</span>*@
                            <h2>@ApplicationUser.getPropertyValue("FirstName")</h2>
                            <h2>@ApplicationUser.getPropertyValue("LastName")</h2>
                        </div>

                    </div>
                    <!-- /menu profile quick info -->
                    <hr style="width:80%" />

                    <!-- sidebar menu -->
                    <section>
                        <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">

                            <ul class="nav side-menu">
                                @if (Superuser)
                                {
                                    <li>
                                        <a href="~/Dashboard/Analytics"><i class="fa fa-bar-chart"></i> Dashboard </a>
                                    </li>
                                    <li>
                                        <a href="~/Inbox/List">
                                            <i class="fa fa-envelope"></i>
                                            Inbox
                                            @{
                                                int newMessages = Common.ChatRoomMessage.getNewMessagesForMentor();
                                                if (newMessages != 0)
                                                {
                                                    <span class="label label-success pull-right">@newMessages</span>
                                                }
                                            }
                                        </a>
                                    </li>
                                    <li>
                                        <a><i class="fa fa-table"></i> Programs <span class="fa fa-chevron-down"></span></a>
                                        <ul class="nav child_menu">
                                            <li><a href="~/Programs/List">All Programs</a></li>
                                            <li><a href="~/Programs/CreateNew">Create New</a></li>
                                            <li><a href="~/Programs/Feedback">Feedback</a></li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="~/Exercises/List"><i class="fa fa-bicycle"></i> Exercises </a>
                                    </li>
                                    <li>
                                        <a href="~/Users/List"><i class="fa fa-users"></i> Users </a>
                                    </li>
                                    <li>
                                        <a><i class="fa fa-cogs"></i> Settings <span class="fa fa-chevron-down"></span></a>
                                        <ul class="nav child_menu">
                                            <li><a href="~/Payments/Manage">Discount Codes</a></li>
                                            <li><a href="~/Memberships/List">Membership Prices</a></li>
                                            <li><a href="~/Payments/List">Payments</a></li>
                                        </ul>
                                    </li>
                                }
                                else
                                {
                                    <li>
                                        <a href="~/Profiles/MyProfile"><i class="fa fa-user"></i> My Profile </a>
                                    </li>
                                    <li>
                                        <a href="~/Programs/MyPrograms"><i class="fa fa-table"></i> Programs </a>
                                    </li>
                                    <li>
                                        <a href="~/ChatRoom/Chat">
                                            <i class="fa fa-comments"></i>
                                            Chat
                                            @{
                                                chatroom_userInfo_custom info = Common.ChatRoomMessage.getChatRoomUserInfo(@userId);
                                                if (info != null)
                                                {
                                                    if (info.unread_by_user == true)
                                                    {
                                                        <span class="label label-success pull-right">New!</span>
                                                    }
                                                }
                                            }
                                        </a>
                                    </li>
                                    <li>
                                        <a href="~/Payments/Pay"><i class="fa fa-credit-card"></i> Payments </a>
                                    </li>
                                }

                                <li>
                                    <a href="~/Authentication/Logout"><i class="fa fa-power-off"></i> Logout </a>
                                </li>

                            </ul>


                        </div>
                        <!-- /sidebar menu -->
                        <!-- /menu footer buttons -->
                        @*<div class="sidebar-footer hidden-small" >

                            <a data-toggle="tooltip" data-placement="top" title="Settings">
                                <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
                            </a>
                            <a data-toggle="tooltip" data-placement="top" title="FullScreen">
                                <span class="glyphicon glyphicon-fullscreen" aria-hidden="true"></span>
                            </a>
                            <a data-toggle="tooltip" data-placement="top" title="Lock">
                                <span class="glyphicon glyphicon-eye-close" aria-hidden="true"></span>
                            </a>
                            <a href="~/Authentication/Logout">
                                <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
                            </a>
                        </div>*@

                        <!-- /menu footer buttons -->
                    </section>
                </div>
            </div>

            <!-- top navigation -->
            <section>
                <div class="top_nav">
                    <div class="nav_menu">
                        <nav>
                            <div class="nav toggle">
                                <a id="menu_toggle"><i class="fa fa-bars"></i></a>
                            </div>
                            <ul class="nav navbar-nav navbar-right">
                                <li role="presentation" class="dropdown">
                                    <a href="javascript:;" class="dropdown-toggle info-number" data-toggle="dropdown" style="visibility:hidden">
                                        <i class="fa fa-envelope-o"></i>
                                        <span class="badge bg-green">6</span>
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </section>
            <!-- /top navigation -->

            <!-- jQuery -->
            <script src="@Url.Content("~/Scripts/jquery.min.js")"></script>
            <!-- Bootstrap -->
            <script src="@Url.Content("~/Scripts/bootstrap.min.js")"></script>
            <!-- bootstrap-progressbar -->
            <script src="@Url.Content("~/Scripts/bootstrap-progressbar.min.js")"></script>
            <!-- gauge.js -->
            <script src="@Url.Content("~/Scripts/gauge.min.js")"></script>
            <!-- pie.js -->
            <script src="@Url.Content("~/Scripts/jquery.easypiechart.min.js")"></script>
            <!-- iCheck.js -->
            <script src="@Url.Content("~/Scripts/icheck.min.js")"></script>
            <!-- bootstrap-daterangepicker -->
            <script src="@Url.Content("~/Scripts/moment.min.js")"></script>
            <script src="@Url.Content("~/Scripts/daterangepicker.js")"></script>
            <script src="https://cdn.quilljs.com/1.2.2/quill.js"></script>
            <script src="@Url.Content("~/Scripts/pnotify.custom.min.js")"></script>

            <div class="right_col" role="main">
                <div class="">
                    @RenderBody()
                </div>
            </div>
            <!-- footer content -->
            <footer>
                <div class="pull-left">
                    <span class="label label-primary pull-right">BETA</span>
                </div>
                <div class="pull-right">
                    Copyright © 2017 - <a href="http://gymentor.co.za" target="_blank">Gymentor</a>
                </div>
                <div class="clearfix"></div>
            </footer>
            <!-- /footer content -->
        </div>
    </div>



    <!-- Custom Theme Scripts -->
    <script src="@Url.Content("~/Scripts/custom.min.js")"></script>
    

    <script src="@Url.Content("~/Scripts/kendo.all.min.js")"></script>
    <script src="@Url.Content("~/Scripts/kendo.aspnetmvc.min.js")"></script>



    @*<!-- FastClick -->
    <script src="../vendors/fastclick/lib/fastclick.js"></script>
    <!-- NProgress -->
    <script src="../vendors/nprogress/nprogress.js"></script>
    <!-- Chart.js -->
    <script src="../vendors/Chart.js/dist/Chart.min.js"></script>*@


    @*<!-- iCheck -->
    <script src="../vendors/iCheck/icheck.min.js"></script>
    <!-- Skycons -->
    <script src="../vendors/skycons/skycons.js"></script>
    <!-- Flot -->
    <script src="../vendors/Flot/jquery.flot.js"></script>
    <script src="../vendors/Flot/jquery.flot.pie.js"></script>
    <script src="../vendors/Flot/jquery.flot.time.js"></script>
    <script src="../vendors/Flot/jquery.flot.stack.js"></script>
    <script src="../vendors/Flot/jquery.flot.resize.js"></script>
    <!-- Flot plugins -->
    <script src="../vendors/flot.orderbars/js/jquery.flot.orderBars.js"></script>
    <script src="../vendors/flot-spline/js/jquery.flot.spline.min.js"></script>
    <script src="../vendors/flot.curvedlines/curvedLines.js"></script>
    <!-- DateJS -->
    <script src="../vendors/DateJS/build/date.js"></script>
    <!-- JQVMap -->
    <script src="../vendors/jqvmap/dist/jquery.vmap.js"></script>
    <script src="../vendors/jqvmap/dist/maps/jquery.vmap.world.js"></script>
    <script src="../vendors/jqvmap/examples/js/jquery.vmap.sampledata.js"></script>*@






    
    <!-- bootstrap-daterangepicker -->
    <script>
      $(document).ready(function() {

        var cb = function(start, end, label) {
          console.log(start.toISOString(), end.toISOString(), label);
          $('#reportrange span').html(start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY'));
        };

        var optionSet1 = {
          startDate: moment().subtract(29, 'days'),
          endDate: moment(),
          minDate: '01/01/2012',
          maxDate: '12/31/2015',
          dateLimit: {
            days: 60
          },
          showDropdowns: true,
          showWeekNumbers: true,
          timePicker: false,
          timePickerIncrement: 1,
          timePicker12Hour: true,
          ranges: {
            'Today': [moment(), moment()],
            'Yesterday': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
            'Last 7 Days': [moment().subtract(6, 'days'), moment()],
            'Last 30 Days': [moment().subtract(29, 'days'), moment()],
            'This Month': [moment().startOf('month'), moment().endOf('month')],
            'Last Month': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
          },
          opens: 'left',
          buttonClasses: ['btn btn-default'],
          applyClass: 'btn-small btn-primary',
          cancelClass: 'btn-small',
          format: 'MM/DD/YYYY',
          separator: ' to ',
          locale: {
            applyLabel: 'Submit',
            cancelLabel: 'Clear',
            fromLabel: 'From',
            toLabel: 'To',
            customRangeLabel: 'Custom',
            daysOfWeek: ['Su', 'Mo', 'Tu', 'We', 'Th', 'Fr', 'Sa'],
            monthNames: ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'],
            firstDay: 1
          }
        };
        $('#reportrange span').html(moment().subtract(29, 'days').format('MMMM D, YYYY') + ' - ' + moment().format('MMMM D, YYYY'));
        $('#reportrange').daterangepicker(optionSet1, cb);
        $('#reportrange').on('show.daterangepicker', function() {
          console.log("show event fired");
        });
        $('#reportrange').on('hide.daterangepicker', function() {
          console.log("hide event fired");
        });
        $('#reportrange').on('apply.daterangepicker', function(ev, picker) {
          console.log("apply event fired, start/end dates are " + picker.startDate.format('MMMM D, YYYY') + " to " + picker.endDate.format('MMMM D, YYYY'));
        });
        $('#reportrange').on('cancel.daterangepicker', function(ev, picker) {
          console.log("cancel event fired");
        });
        $('#options1').click(function() {
          $('#reportrange').data('daterangepicker').setOptions(optionSet1, cb);
        });
        $('#options2').click(function() {
          $('#reportrange').data('daterangepicker').setOptions(optionSet2, cb);
        });
        $('#destroy').click(function() {
          $('#reportrange').data('daterangepicker').remove();
        });
      });
    </script>
    <!-- /bootstrap-daterangepicker -->


    @*<!-- gauge.js -->
    <script>
      var opts = {
          lines: 12,
          angle: 0,
          lineWidth: 0.4,
          pointer: {
              length: 0.75,
              strokeWidth: 0.042,
              color: '#1D212A'
          },
          limitMax: 'false',
          colorStart: '#1ABC9C',
          colorStop: '#1ABC9C',
          strokeColor: '#F0F3F3',
          generateGradient: true
      };
      var target = document.getElementById('foo'),
          gauge = new Gauge(target).setOptions(opts);

      gauge.maxValue = 6000;
      gauge.animationSpeed = 32;
      gauge.set(3200);
      gauge.setTextField(document.getElementById("gauge-text"));
    </script>
    <!-- /gauge.js -->*@
</body>
</html>
