﻿<!DOCTYPE html>
<html lang="en">
<head>

    <link rel="apple-touch-icon" sizes="76x76" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/manifest.json">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#b8b8b8">
    <meta name="apple-mobile-web-app-title" content="Gymentor">
    <meta name="application-name" content="Gymentor">
    <meta name="theme-color" content="#b8b8b8">
    <META NAME="ROBOTS" CONTENT="NOINDEX, FOLLOW">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Gymentor | @ViewBag.Title</title>

    <!-- Bootstrap -->
    <link href="@Url.Content("~/Content/bootstrap.min.css")" rel="stylesheet">
    <!-- Animate.css -->
    <link href="@Url.Content("~/Content/animate.min.css")" rel="stylesheet">
    <!-- Custom Theme Style -->
    <link href="@Url.Content("~/Content/custom.min.css")" rel="stylesheet">
    <!-- PNotify -->
    <link href="@Url.Content("~/Content/pnotify.custom.min.css")" rel="stylesheet">

</head>


<body style="background-color:#b8b8b8" class="login">


    <div class="container body">
        @RenderBody()
    </div>
   


</body>
</html>
