﻿@using Models;
@using Common.Database.CustomDataModels;
@using Common.Database;
@model UserStatsModel

@{
    ViewBag.Title = "My Profile";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int id = int.Parse(NewSystem.Models.ApplicationUser.getPropertyValue("UserID"));
    profile_pictures pic = Common.Files.geProfilePicture(int.Parse(NewSystem.Models.ApplicationUser.getPropertyValue("UserID")));
}

<div class="row clearfix" style="height:100px">
    <br />
</div>


@{ 
    current_program_stats_custom details = Common.Workout.getCustomClientProgramDetails(id);
    int complete = 0;
    if (details != null)
    {
        double calc = ((double)details.completed_days / (double)details.program_days) * 100;
        complete = (int)Math.Round(calc);
    }
}

@using (Html.BeginForm("MyProfile", "Profiles", null, FormMethod.Post, new { role = "form", enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    @Html.Hidden("completion", @complete)


    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_content">
                    <div class="row clearfix" style="height:150px">
                        <div class="col-md-12 col-sm-12 col-xs-12" style="text-align:center">
                            <a href="javascript:showPicUploader(true)" style="text-decoration:none; float:right" class='btn btn-primary btn-xs'><i class="fa fa-pencil"></i></a>
                        </div>
                        <div class="col-md-12 col-sm-12 col-xs-12" style="text-align:center">
                            @if (pic == null)
                            {
                                <img src="@Url.Content("~/Content/images/profilepics/avatar.png")" alt="..." style="border-radius: 50%; background: #fff; border: 5px solid #2a3f54; padding: 4px; width: 200px; height:200px">
                            }
                            else {
                                <img src="@Url.Content("~/Content/images/profilepics")/@pic.name" alt="..." style="border-radius: 50%; background: #fff; border: 5px solid #2a3f54; padding: 4px; width: 200px; height:200px">
                            }

                        </div>
                        <div class="col-md-12 col-sm-12 col-xs-12" style="text-align:center; padding-bottom:20px">
                            <h1 style="vertical-align: middle;padding-top:30px">@NewSystem.Models.ApplicationUser.getPropertyValue("FullName")</h1>
                        </div>
                    </div>
                    <div class="row clearfix" id="uploader" style="display:none">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <br>
                            <div class="form-group">
                                @(Html.Kendo().Upload()
                                    .Name("files")
                                    .Multiple(false)
                                )
                                <br>
                                <button type="submit" class="btn btn-info btn-sm">Upload</button>
                                <button type="button" class="btn btn-default btn-sm" onclick="showPicUploader(false)">Close</button>
                            </div>
                        </div>
                    </div>
                    <div class="row clearfix">
                        <div class="col-md-12 col-sm-12 col-xs-12" style="text-align:center; vertical-align:middle; color:black; padding-bottom:20px">
                            @Html.TextAreaFor(m => m.Goal, new { @class = "k-textbox form-control", style = "text-align:center; vertical-align:middle; width:80%; height:90px; padding-top:12px; font-size:15px; border-radius:6px; color:black" })
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



<div class="row">
    <div class="col-md-6 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>Programs </h2>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <div class="row clearfix">
                        @if (details == null)
                        {
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <p style="color:orange">Currently there is no program assigned to you.</p>
                                <br />
                                <p style="color:#ff4533"><b><i>Please Note</i></b> - no plan will be issued without first payment.</p>
                            </div>
                        }
                        else { 
                            <div class="col-md-6 col-sm-6 col-xs-6">
                                <p style="text-align:center;padding-top:25px;font-size:14px">
                                    <b>@details.name</b>
                                </p>
                                <p>
                                    <i class="fa fa-arrow-right"></i>&nbsp; @details.program_days days
                                </p>
                                <p>
                                    <i class="fa fa-arrow-right"></i>&nbsp; @details.completed_days completed
                                </p>
                                <p style="color: orange">
                                    <i class="fa fa-exclamation-triangle"></i><b>&nbsp; Expires @details.date_assigned.ToString("dd MMM")</b>
                                </p>
                            </div>
                            <div class="col-md-6 col-sm-6 col-xs-6">
                                <div style="text-align: center; margin-bottom: 17px;padding-top:25px">
                                    <span class="chart" data-percent="@(complete)">
                                        <span class="percent">@complete</span>
                                        <canvas height="110" width="110"></canvas>
                                    </span>
                                </div>
                            </div>


                            @*<div class="dashboard-widget-content">

                                <div class="sidebar-widget text-center">
                                    <h4>Program Completion</h4>
                                    <canvas width="150" height="80" id="foo" class="" style="width: 160px; height: 100px;"></canvas>
                                    <div class="goal-wrapper">
                                        <span id="gauge-text" class="gauge-value pull-left"></span>
                                        <span class="gauge-value pull-left">%</span>
                                        <span id="goal-text" class="goal-value pull-right">100%</span>
                                    </div>
                                </div>

                            </div>*@
                        }
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>Fitness Status <small>Keep on top of your stats!</small></h2>
                <ul class="nav navbar-right panel_toolbox">
                    <li class="pull-right">
                        <button type="submit" class="btn btn-info btn-xs">UPDATE</button>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <br>
                <div class="row clearfix" style="text-align:left">
                    <div class="col-md-6 col-sm-6 col-xs-6">
                        @Html.Label("Weight (kg)")
                        <div class="input-group" style="width:100%">
                            <div class="form-line">
                                @Html.Kendo().TextBoxFor(m => m.Weight).HtmlAttributes(new { @class = "form-control", autofocus = "", type = "number", style="border-radius:6px" })
                            </div>
                            <div class="help-block">
                                @Html.ValidationMessageFor(m => m.Weight)
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-6">
                        @Html.Label("Height (cm)")
                        <div class="input-group" style="width:100%">
                            <div class="form-line">
                                @Html.Kendo().TextBoxFor(m => m.Height).HtmlAttributes(new { @class = "form-control", autofocus = "", type = "number", style = "border-radius:6px" })
                            </div>
                            <div class="help-block">
                                @Html.ValidationMessageFor(m => m.Height)
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row clearfix" style="text-align:left">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        @Html.Label("Current Injuries")
                        <div class="input-group" style="width:100%">
                            <div class="form-line">
                                @Html.TextAreaFor(m => m.Injuries, new { @class = "k-textbox form-control", style = "width: 100%; padding-top:10px; padding-left:10px; height:100px;border-radius:6px" })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row clearfix" style="text-align:left">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        @Html.Label("Exercise History")
                        <div class="input-group" style="width:100%">
                            <div class="form-line">
                                @Html.TextAreaFor(m => m.ExerciseHistory, new { @class = "k-textbox form-control", style = "width: 100%; padding-top:10px; padding-left:10px; height:100px;border-radius:6px" })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row clearfix" style="text-align:left">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        @Html.Label("Days Available To Workout (per week)")
                        <div class="input-group" style="width:100%">
                            <div class="form-line">
                                @Html.Kendo().TextBoxFor(m => m.Days_Trianing_Per_Week).HtmlAttributes(new { @class = "form-control", autofocus = "", type = "number", style = "border-radius:6px" })
                            </div>
                            <div class="help-block">
                                @Html.ValidationMessageFor(m => m.Days_Trianing_Per_Week)
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row clearfix" style="text-align:left">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        @Html.Label("Where I Work Out")
                        <div class="input-group" style="width:100%">
                            <div class="form-line" style="display:inline-flex">
                                <input type="radio" name="place" value="Gym" id="Gym" style="margin-right: 5px" onclick="toggleTextBox()"> Gym<br>
                                <input type="radio" name="place" value="Home" id="Home" checked style="margin-right: 5px; margin-left:20px" onclick="toggleTextBox()"> Home<br>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row clearfix" style="text-align:left; display:none" id="SpecifyTextbox">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="input-group" style="width:100%">
                            <div class="form-line">
                                @Html.Kendo().TextBoxFor(m => m.Gym_Home).HtmlAttributes(new { placeholder = "Please specify which gym", @class = "form-control", autofocus = "", style = "border-radius:6px" })
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
}


<script>

    $(document).ready(function () {
        if($('#Gym_Home').val() != "Home"){
            document.getElementById("Gym").checked = true;
            toggleTextBox();
        }
    });

    function toggleTextBox() {
        if(document.getElementById("Gym").checked == true){
            document.getElementById("SpecifyTextbox").style.display = 'block';
        }
        else {
            document.getElementById("SpecifyTextbox").style.display = 'none';
            $('#Gym_Home').val("");
        }
    }
    
    function showPicUploader(x) {
        if(x==true){
            document.getElementById("uploader").style.display = 'block';
        }
        else {
            document.getElementById("uploader").style.display = 'none';
        }     
    }

    $(function () {
        $('.chart').easyPieChart({
            easing: 'easeOutElastic',
            delay: 3000,
            barColor: '#26B99A',
            trackColor: '#fff',
            scaleColor: false,
            lineWidth: 20,
            trackWidth: 16,
            lineCap: 'butt',
            onStep: function (from, to, percent) {
                $(this.el).find('.percent').text(Math.round(percent));
            }
        });
    });

</script>

@*<script>
      var opts = {
        lines: 12,
        angle: 0,
        lineWidth: 0.4,
        pointer: {
          length: 0.75,
          strokeWidth: 0.042,
          color: '#1D212A'
        },
        limitMax: 'false',
        colorStart: '#5bc0de',
        colorStop: '#5bc0de',
        strokeColor: '#F0F3F3',
        generateGradient: true
      };
      var target = document.getElementById('foo'),
          gauge = new Gauge(target).setOptions(opts);

      gauge.maxValue = 100;
      gauge.animationSpeed = 32;
      gauge.set(parseInt($('#completion').val()));
      gauge.setTextField(document.getElementById("gauge-text"));
</script>*@


