﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Error 404</title>

    <!-- Bootstrap -->
    <link href="@Url.Content("~/Content/bootstrap.min.css")" rel="stylesheet">
    <!-- Font Awesome -->
    <link href="@Url.Content("~/Content/font-awesome.min.css")" rel="stylesheet">
    <!-- NProgress -->
    <link href="@Url.Content("~/Content/nprogress.css")" rel="stylesheet">

    <!-- Custom Theme Style -->
    <link href="@Url.Content("~/Content/custom.min.css")" rel="stylesheet">
</head>

<body class="nav-md">
    <div class="container body">
        <div class="main_container">
            <!-- page content -->
            <div class="col-md-12 col-xs-12">
                <div class="col-middle">
                    <div class="text-center text-center" style="padding-top:200px">
                        <h1 class="error-number">404</h1>
                        <h2>Sorry but we couldn't find this page</h2>
                        <p>
                            The page you are looking for does not exist
                        </p>
                    </div>
                </div>
            </div>
            <!-- /page content -->
        </div>
    </div>

    <!-- jQuery -->
    <script src="@Url.Content("~/Scripts/jquery.min.js")"></script>
    <!-- Bootstrap -->
    <script src="@Url.Content("~/Scripts/bootstrap.min.js")"></script>
    <!-- FastClick -->
    <script src="@Url.Content("~/Scripts/fastclick.js")"></script>
    <!-- NProgress -->
    <script src="@Url.Content("~/Scripts/nprogress.js")"></script>

    <!-- Custom Theme Scripts -->
    <script src="@Url.Content("~/Scripts/custom.min.js")"></script>
</body>
</html>
