﻿@using Models
@{
    ViewBag.Title = "List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="page-title">
    <div class="title_left">
        <h3>Memberships</h3>
    </div>
</div>

<div class="clearfix"></div>

<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>Manage Memberships</h2>
                <ul class="nav navbar-right panel_toolbox">
                    <li class="pull-right">
                    </li>
                </ul>
                <div class="row clearfix"></div>
            </div>
            <div class="x_content">
                <br>

                <div class="row clearfix">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                       @(Html.Kendo().Grid<MembershipModel>()
                            .Name("MembershipGrid")
                            .Columns(columns =>
                            {
                                columns.Bound(m => m.Name).Title("NAME").EditorTemplateName("Textbox");
                                columns.Bound(m => m.NumberOfMonths).Title("MONTHS").EditorTemplateName("Textbox");
                                columns.Bound(m => m.Price).Title("PRICE").EditorTemplateName("Textbox");
                                columns.Command(command => { command.Edit(); command.Destroy(); }).Width(251).HtmlAttributes(new { style = "text-align:center" });
                            })
                            .ToolBar(toolbar => toolbar.Create().Text(" New Membership"))
                            .Editable(editable => editable.Mode(GridEditMode.InLine))
                            .Resizable(resize => resize.Columns(true))
                            .DataSource(dataSource => dataSource
                                .Ajax()
                                .PageSize(10)
                                .Events(events => events.Error("error_handler").RequestEnd("request_end"))
                                .Model(model =>
                                {
                                    model.Id(m => m.MembershipId);
                                })
                                .Read(read => read.Action("GetMemberships", "Membership"))
                                .Create(update => update.Action("AddMembership", "Membership"))
                                .Update(update => update.Action("UpdateMembership", "Membership"))
                                .Destroy(update => update.Action("DeleteMembership", "Membership"))
                            )
                            .Sortable()
                    )
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<script>

    //refreshes grid after adding/updating a quote item
    function request_end(e) {
        if (e.type == "update" || e.type == "create") {
            if (!e.response.Errors) {
                e.sender.read();
            }
        }
    }

    function error_handler(e) {
        if (e.errors) {
            var message = "Errors:\n";
            $.each(e.errors, function (key, value) {
                if ('errors' in value) {
                    $.each(value.errors, function () {
                        message += this + "\n";
                    });
                }
            });
            alert(message);
        }
    }

</script>