﻿@using Common.Database;
@using Models;
@using Common.Database.CustomDataModels;
@{
    ViewBag.Title = "List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="page-title">
    <div class="title_left">
        <h3>Inbox</h3>
    </div>
</div>

<div class="clearfix"></div>

<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>New Message</h2>
                <ul class="nav navbar-right panel_toolbox">
                    <li class="pull-right">
                        <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <br>

                <div class="row clearfix">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="form-group">
                            <label>Client</label>
                            <br />
                            @{
                                IEnumerable<UserModel> clients = UserModel.getAllLegit();
                            }
                            @(Html.Kendo().DropDownListFor(m => m)
                                .Name("Clientsddl")
                                .DataTextField("FullName")
                                .DataValueField("id")
                                .OptionLabel("Please Select")
                                .BindTo(clients)
                                .HtmlAttributes(new { style="width:100%" })
                            )
                        </div>
                    </div>
                </div>

                <div class="row clearfix">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="form-group">
                            <label>Message</label>
                            <br />

                            <div id="editor1">

                            </div>

                            <br />

                            <div class="btn-group">
                                <button class="btn btn-sm btn-primary" id="send" type="button" onclick="reply(true)"><i class="fa fa-paper-plane"></i> Send </button>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>
</div>


<div class="row">
    <div class="col-md-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>Messages Recieved <small>Click on client to view conversation</small></h2>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <div class="row">
                    @Html.Hidden("currentUserId",0)
                    <div class="col-sm-3 mail_list_column">
                        <div><span class="label label-info" style="display: block; width: 100%; font-size: 15px">Clients</span></div>
                        <br />
                        @{
                            IEnumerable<user> chatRoomUsers = Common.User.getChatUsers();
                            foreach (user chatUser in chatRoomUsers)
                            {
                                chatroom_userInfo_custom userInfo = Common.ChatRoomMessage.getChatRoomUserInfo(chatUser.id);
                                //IEnumerable<chatroom_messages> messages = Common.ChatRoomMessage.getMessages(chatUser.id);

                                <a href="javascript:displayReply('@userInfo.firstname', '@userInfo.lastname', '@userInfo.date_created','@chatUser.id');">
                                    <div class="mail_list">
                                        <div class="left">
                                             @{if (userInfo.unread_by_mentor == true)
                                                { <i class="fa fa-circle"></i> }
                                              else
                                                { <i class="fa fa-chevron-right"></i> }
                                            }
                                        </div>
                                        <div class="right">
                                            <h3>@userInfo.firstname @userInfo.lastname <small> @userInfo.date_created.ToString("dd MMM yy") </small></h3>
                                            @{
                                                if (userInfo.message.Length > 100)
                                                {
                                                    string sub = userInfo.message.Substring(0, 100);
                                                    <p>@sub</p>
                                                }
                                                else
                                                {
                                                    <p>@userInfo.message</p>
                                                }
                                            }
                                        </div>
                                    </div>
                                </a>

                            }


                        }
                    </div>
                    <!-- /MAIL LIST -->

                    <!-- CONTENT MAIL -->
                    <div class="col-sm-9 mail_view" id="ReplyBlock" style="display:none">
                        <div class="inbox-body">
                            <div class="mail_heading row">
                                <div class="col-md-12">
                                    <h4 id="message_username"> <small id="message_date"> &nbsp; @*@@ Date and Time created*@</small> </h4>            
                                </div>
                            </div>
                            <div class="view-mail" id="message_message">
                                @* message content goes here *@
                            </div>
                        </div>
                        <br />

                        <div id="editor2">
                            
                        </div>

                        <br />

                        <div class="btn-group">
                            <button class="btn btn-sm btn-primary" id="compose" type="button" onclick="reply(false)"><i class="fa fa-reply"></i> Reply</button>
                        </div>



                    </div>
                    <!-- /CONTENT MAIL -->
                </div>
            </div>
        </div>
    </div>
</div>

<script>

    $(document).ready(function() {

        var quill1 = new Quill('#editor1', {
        theme: 'snow'
        });

        var quill2 = new Quill('#editor2', {
            theme: 'snow'
        });

    });

    function displayReply(firstname, lastname, last_message_date, userId) {
        debugger;
        //show reply block
        document.getElementById('ReplyBlock').style.display = "block";
        
        //set current user id 
        $('#currentUserId').val(userId);

        //set values
        $('#message_username')[0].innerText = "Conversation with " + firstname + " " + lastname;

        var posturl = window.location.protocol + "//" + window.location.host + "/Inbox/getMessages";

        var data = {
            userId: userId
        };

        $.ajax({
            url: posturl,
            data: JSON.stringify(data),
            type: 'POST',
            dataType: 'json',
            contentType: 'application/json; charset=utf-8',
            success: function (result) {

                debugger;
                $('#message_message')[0].innerHTML = result;

            },
            async: false,
            processData: false
        });


    }

    function reply(sendNewMessage) {
        debugger;

        if (sendNewMessage == true) {

            var html = $('#editor1')[0].textContent;

            if (html != "" && html != null) {

                var posturl = window.location.protocol + "//" + window.location.host + "/Inbox/ReplyToMessage";
                
                //if no client selected, show error 
                if ($('#Clientsddl').val() == "") {
                    showError('Select a client', 'Please select a client to send this message to.');
                    return;
                }

                var data = {
                    userId: $('#Clientsddl').val(),
                    html: html
                };

                $.ajax({
                    url: posturl,
                    data: JSON.stringify(data),
                    type: 'POST',
                    dataType: 'json',
                    contentType: 'application/json; charset=utf-8',
                    success: function (result) {

                        if (result != 0) {
                            location.reload();
                        }

                    },
                    async: false,
                    processData: false
                });

            }


        }


        else {

            var html = $('#editor2')[0].textContent;

            if (html != "" && html != null) {

                var posturl = window.location.protocol + "//" + window.location.host + "/Inbox/ReplyToMessage";

                var data = {
                    userId: $('#currentUserId').val(),
                    html: html
                };

                $.ajax({
                    url: posturl,
                    data: JSON.stringify(data),
                    type: 'POST',
                    dataType: 'json',
                    contentType: 'application/json; charset=utf-8',
                    success: function (result) {

                        if (result != 0) {
                            location.reload();
                        }

                    },
                    async: false,
                    processData: false
                });

            }

        }

    }

    function showError(title,text) {
        debugger;
        new PNotify({
            title: title,
            text: text,
            type: 'error',
            icon: 'glyphicon glyphicon-exclamation-sign',
            nonblock: { nonblock: true },
            addclass: 'dark',
            styling: 'bootstrap3',
        });

    }

</script>