﻿@using Models;
@model LoginModel

@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}

<head>

    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/addtohomescreen.css")">
    <script src="@Url.Content("~/Scripts/addtohomescreen.min.js")"></script>

    <script>
        addToHomescreen({
            skipFirstVisit: true,
            maxDisplayCount: 1
        });
    </script>

</head>

<div>
    <div class="login_wrapper">
        <div class="animate form login_form">
            @using (Html.BeginForm("Login", "Authentication", null, FormMethod.Post, new { role = "form" }))
            {
                @Html.AntiForgeryToken()
            <section class="login_content">
                <form>
                    <h1 style="color:white">Login</h1>
                    <div class="row clearfix">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <div class="input-group" style="width:80%; border-radius:50px; margin: 0 auto; padding-bottom: 10px">
                                <div class="form-line">
                                    @Html.TextBoxFor(m => m.LoginUsername, new { placeholder = "Username Or Email", @class = "form-control", autofocus = "", style = "border-radius:6px" })
                                </div>
                                <div class="help-block">
                                    @Html.ValidationMessageFor(m => m.LoginUsername)
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row clearfix">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <div class="input-group" style="width:80%; border-radius:50px;margin: 0 auto; padding-bottom: 20px">
                                <div class="form-line">
                                    @Html.TextBoxFor(m => m.LoginPassword, new { placeholder = "Password", @class = "form-control", autofocus = "", type = "password", style = "border-radius:6px" })
                                </div>
                                <div class="help-block">
                                    @Html.ValidationMessageFor(m => m.LoginPassword)
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row clearfix" style="text-align:left">
                        <div class="col-md-12 col-sm-12 col-xs-12" style="padding-left: 40px">
                            <button type="submit" class="btn btn-primary">Log in</button>
                            <a class="reset_pass" href="javascript:lostpassword()" style="color:white; text-decoration: none">Lost your password?</a>
                        </div>
                    </div>
                        
                    <div class="clearfix"></div>

                    <div class="separator">
                        <p class="change_link">
                            <a href='~/Authentication/Register' class='btn btn-info btn-xs' style="text-decoration:none"> Create Account </a>
                        </p>

                        <div class="clearfix"></div>
                        <br />

                        <div>
                            <img src="@Url.Content("~/Content/images/logonoslogen.png")" />
                        </div>
                    </div>
                </form>
            </section>
            }
        </div>

    </div>
</div>

<!-- jQuery -->
<script src="../Scripts/jquery.min.js"></script>
<!-- PNotify -->
<script src="../Scripts/pnotify.custom.min.js"></script>

<script>

    $(document).ready(function () {
        if ("@Model.JustSignedUp" == "True") {
            showSuccess();
            @Model.JustSignedUp = false;
            return;
        }
        if ("@Model.Failed" == "True") {
            showError('Incorrect Credentials', 'The credentials you enetered do not match the ones you originally created.');
            $('#Username').val("");
            $('#Password').val("");
        }
      });

    function showError(ptitle, ptext) {
        new PNotify({
            title: ptitle,
            text: ptext,
            styling: 'bootstrap3',
            type: 'error',
            icon: 'glyphicon glyphicon-exclamation-sign'
        });
    }

    function showSuccess() {
        new PNotify({
            title: 'Good to go!',
            text: 'Login to start your experience',
            styling: 'bootstrap3',
            type: 'success',
            hide: false,
            icon: 'glyphicon glyphicon-ok'
        });
    }

    function lostpassword(){
        debugger;
        if($('#LoginUsername').val() ==  null || $('#LoginUsername').val() ==  ""){
            showError("Enter Username", "Enter a username before continuing.");
        }
        else{
            var posturl = window.location.protocol + "//" + window.location.host + "/Authentication/GetUserDetails";
            var data = {
                username: $('#LoginUsername').val()
            };
            $.ajax({
                url: posturl,
                data: JSON.stringify(data),
                type: 'POST',
                dataType: 'json',
                contentType: 'application/json; charset=utf-8',
                success: function (result) {
                    debugger;
                    if(result.id == 0){
                        showError("Incorrect Username", "The username you enetered is not in our database.");
                    }
                    else{
                        window.location.href = window.location.protocol + "//" + window.location.host + "/Authentication/LostPassword/" + result.guid;
                    }
                },
                async: false,
                processData: false
            });
        }

    }

</script>

