﻿@using Models;
@model UserModel
@{
    ViewBag.Title = "LostPassword";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}

<div>
    <a class="hiddenanchor" id="signup"></a>
    <a class="hiddenanchor" id="signin"></a>

    <div class="login_wrapper">
        <div class="animate form login_form">
            @using (Html.BeginForm("Register", "Authentication", null, FormMethod.Post, new { role = "form" }))
            {
                @Html.AntiForgeryToken()
                @Html.HiddenFor(m=> m.SecurityPassword)
                <section class="login_content">
                    <form>
                        <h1 style="color:white">Lost Password</h1>
                        <div class="row clearfix">
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <div class="input-group" style="width:100%; color:white">
                                    @Html.Label("Please provide an answer to your security question below:")
                                    <div class="form-line">
                                        @Html.TextBoxFor(m => m.SecurityQuestion, new { @class = "form-control", autofocus = "", style = "border-radius:6px" })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row clearfix">
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <div class="input-group" style="width:100%">
                                    <div class="form-line">
                                        @Html.TextBox("Answer",null, new { placeholder = "Answer", @class = "form-control", autofocus = "", style = "border-radius:6px" })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row clearfix" style="display:none" id="PasswordDiv">
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <div class="input-group" style="width:100%; color:white">
                                    @Html.Label("Your password is:")
                                    <div class="form-line">
                                        @Html.TextBoxFor(m => m.Password, new { @class = "form-control", autofocus = "", style = "border-radius:6px" })
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <div>
                            <button type="button" class="btn btn-primary" onclick="submitAnswer()">Submit</button>
                        </div>

                        <div class="clearfix"></div>

                        <div class="separator">
                            <p class="change_link" style="color:white">
                                Remember your password?
                                <a href='~/Authentication/Login' class='btn btn-info btn-xs' style="text-decoration:none"> Log in </a>
                            </p>

                            <div class="clearfix"></div>
                            <br />

                            <div>
                                <img src="@Url.Content("~/Content/images/logonoslogen.png")" />
                            </div>
                        </div>
                    </form>
                </section>
            }
        </div>

    </div>
</div>

<!-- jQuery -->
<script src="@Url.Content("~/Scripts/jquery.min.js")"></script>
<!-- PNotify -->
<script src="@Url.Content("~/Scripts/pnotify.custom.min.js")"></script>

<script>

    function submitAnswer() {
        debugger;
        if ($('#SecurityPassword').val() == $('#Answer').val()) {
            new PNotify({
                title: 'Correct!',
                styling: 'bootstrap3',
                type: 'success',
                hide: false,
                icon: 'glyphicon glyphicon-ok'
            });

            document.getElementById('PasswordDiv').style.display = "block";
        }
        else {
            new PNotify({
                title: "Incorrect",
                text: "The answer you provided does not match the one you originally provided. Please try again or contact info@gymentor.co.za to reset your password.",
                styling: 'bootstrap3',
                type: 'error',
                icon: 'glyphicon glyphicon-exclamation-sign'
            });

            $('#Answer').val("")
        }


    }

</script>
