﻿@using Models;
@model RegisterModel
@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}
    <div>
        <a class="hiddenanchor" id="signup"></a>
        <a class="hiddenanchor" id="signin"></a>

        <div class="login_wrapper">
            <div class="animate form login_form">
                @using (Html.BeginForm("Register", "Authentication", null, FormMethod.Post, new { role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    <section class="login_content">
                        <form>
                            <h1 style="color:white">Create Account</h1>
                            <div class="row clearfix">
                                <div class="col-md-12 col-sm-12 col-xs-12">
                                    <div class="input-group" style="width:100%">
                                        <div class="form-line">
                                            @Html.TextBoxFor(m => m.RegisterFirstName, new { placeholder = "First Name", @class = "form-control", autofocus = "", style = "border-radius:6px" })
                                        </div>
                                        <div class="help-block">
                                            @Html.ValidationMessageFor(m => m.RegisterFirstName)
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row clearfix">
                                <div class="col-md-12 col-sm-12 col-xs-12">
                                    <div class="input-group" style="width:100%">
                                        <div class="form-line">
                                            @Html.TextBoxFor(m => m.RegisterLastName, new { placeholder = "Last Name", @class = "form-control", autofocus = "", style = "border-radius:6px" })
                                        </div>
                                        <div class="help-block">
                                            @Html.ValidationMessageFor(m => m.RegisterLastName)
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row clearfix">
                                <div class="col-md-12 col-sm-12 col-xs-12">
                                    <div class="input-group" style="width:100%">
                                        <div class="form-line">
                                            @Html.TextBoxFor(m => m.RegisterEmail, new { placeholder = "Email Address", @class = "form-control", autofocus = "", type = "email", style = "border-radius:6px" })
                                        </div>
                                        <div class="help-block">
                                            @Html.ValidationMessageFor(m => m.RegisterEmail)
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="separator"><br /></div>
                            <div class="row clearfix">
                                <div class="col-md-12 col-sm-12 col-xs-12">
                                    <div class="input-group" style="width:100%">
                                        <div class="form-line">
                                            @Html.TextBoxFor(m => m.RegisterUsername, new { placeholder = "Username", @class = "form-control", autofocus = "", style = "border-radius:6px" })
                                        </div>
                                        <div class="help-block">
                                            @Html.ValidationMessageFor(m => m.RegisterUsername)
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row clearfix">
                                <div class="col-md-12 col-sm-12 col-xs-12">
                                    <div class="input-group" style="width:100%">
                                        <div class="form-line">
                                            @Html.TextBoxFor(m => m.RegisterPassword, new { placeholder = "Password", @class = "form-control", autofocus = "", type = "password", style = "border-radius:6px" })
                                        </div>
                                        <div class="help-block">
                                            @Html.ValidationMessageFor(m => m.RegisterPassword)
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row clearfix">
                                <div class="col-md-12 col-sm-12 col-xs-12">
                                    <div class="input-group" style="width:100%">
                                        @Html.Label("Provide a Security Question for Retrieving a Lost Password")
                                        <div class="form-line">
                                            @Html.TextBoxFor(m => m.SecurityQuestion, new { placeholder = "Security Question", @class = "form-control", autofocus = "", style = "border-radius:6px" })
                                        </div>
                                        <div class="help-block">
                                            @Html.ValidationMessageFor(m => m.SecurityQuestion)
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row clearfix">
                                <div class="col-md-12 col-sm-12 col-xs-12">
                                    <div class="input-group" style="width:100%">
                                        <div class="form-line">
                                            @Html.TextBoxFor(m => m.SecurityAnswer, new { placeholder = "Security Answer", @class = "form-control", autofocus = "", style = "border-radius:6px" })
                                        </div>
                                        <div class="help-block">
                                            @Html.ValidationMessageFor(m => m.SecurityAnswer)
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <div>
                                <button type="submit" class="btn btn-primary">Register</button>
                            </div>

                            <div class="clearfix"></div>

                            <div class="separator">
                                <p class="change_link" style="color:white">
                                    Already a member?
                                    <a href='~/Authentication/Login' class='btn btn-info btn-xs' style="text-decoration:none"> Log in </a>
                                </p>

                                <div class="clearfix"></div>
                                <br />

                                <div>
                                    <img src="@Url.Content("~/Content/images/logonoslogen.png")" />
                                </div>
                            </div>
                        </form>
                    </section>
                }
            </div>

        </div>
    </div>


<!-- jQuery -->
<script src="../Scripts/jquery.min.js"></script>
<!-- PNotify -->
<script src="../Scripts/pnotify.custom.min.js"></script>

<script>

    $(document).ready(function () {
            if ("@Model.Failed" == "True") {
                showError('User Already Exists', 'A user with the same name or username already exists. Please change your details accordingly.');
                $('#RegisterUsername').val("");
                $('#RegisterPassword').val("");
            }
      });


    function showError(ptitle, ptext) {
        new PNotify({
            title: ptitle,
            text: ptext,
            styling: 'bootstrap3',
            type: 'error',
            icon: 'glyphicon glyphicon-exclamation-sign'
        });
    }

</script>

