﻿@using Models;
@model UserStatsModel
@{
    ViewBag.Title = "Survey";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}

@using (Html.BeginForm("Survey", "Authentication", null, FormMethod.Post, new { role = "form", enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(m=>m.Gender)
    @Html.HiddenFor(m => m.UserId)
    <div>
        <a class="hiddenanchor" id="signup"></a>
        <a class="hiddenanchor" id="signin"></a>

        <div class="login_wrapper">
            <div class="animate form login_form" style="color:white">
                <section class="login_content">
                    <form>
                        <h1>Few Questions</h1>
                        <div class="row clearfix" style="text-align:left">
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                @Html.Label("Contact Number")
                                <div class="input-group" style="width:100%">
                                    <div class="form-line">
                                        @Html.TextBoxFor(m => m.CellNumber, new {@class = "form-control", autofocus = "", style = "border-radius:6px" })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row clearfix" style="text-align:left">
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                @Html.Label("Birthday *")
                                <div class="input-group" style="width:100%">
                                    <div class="form-line">
                                        @Html.TextBoxFor(m => m.Birthday, new {@class = "form-control", autofocus = "", type = "date", style = "border-radius:6px" })
                                    </div>
                                    <div class="help-block">
                                        @Html.ValidationMessageFor(m => m.Birthday)
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row clearfix"style="text-align:left">
                            <div class="col-md-6 col-sm-6 col-xs-6">
                                @Html.Label("Weight (kg) *")
                                <div class="input-group" style="width:100%">
                                    <div class="form-line">
                                        @Html.TextBoxFor(m => m.Weight, new {@class = "form-control", autofocus = "", type = "number", style = "border-radius:6px" })
                                    </div>
                                    <div class="help-block">
                                        @Html.ValidationMessageFor(m => m.Weight)
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6 col-xs-6">
                                @Html.Label("Height (cm) *")
                                <div class="input-group" style="width:100%">
                                    <div class="form-line">
                                        @Html.TextBoxFor(m => m.Height, new {@class = "form-control", autofocus = "", type = "number", style = "border-radius:6px" })
                                    </div>
                                    <div class="help-block">
                                        @Html.ValidationMessageFor(m => m.Height)
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row clearfix" style="text-align:left">
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                @Html.Label("Gender")
                                <div class="input-group" style="width:100%">
                                    <div class="form-line" style="display:inline-flex">
                                        <input type="radio" name="gender" value="Male" id="Male" style="margin-right: 5px" checked onclick="updateGender(true)"> Male<br>
                                        <input type="radio" name="gender" value="Female" id="Female" style="margin-right: 5px; margin-left:20px" onclick="updateGender(false)"> Female<br>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row clearfix" style="text-align:left">
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                @Html.Label("Any Injuries?")
                                <div class="input-group" style="width:100%">
                                    <div class="form-line">
                                        @Html.TextAreaFor(m => m.Injuries, new { @class = "form-control", autofocus = "", style="height:80px;border-radius:6px" })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row clearfix" style="text-align:left">
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                @Html.Label("Exercise History")
                                <div class="input-group" style="width:100%">
                                    <div class="form-line">
                                        @Html.TextAreaFor(m => m.ExerciseHistory, new { @class = "form-control", autofocus = "", style = "height:80px;border-radius:6px" })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row clearfix" style="text-align:left">
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                @Html.Label("Where will you be working out?")
                                <div class="input-group" style="width:100%">
                                    <div class="form-line" style="display:inline-flex">
                                            <input type="radio" name="place" value="Gym" id="Gym" style="margin-right: 5px" onclick="toggleTextBox()"> Gym<br>
                                            <input type="radio" name="place" value="Home" id="Home" checked style="margin-right: 5px; margin-left:20px" onclick="toggleTextBox()"> Home<br>
                                            @*<input type="radio" name="place" value="Other" id="Other" checked style="margin-right: 5px; margin-left:20px" onclick="toggleTextBox()"> Other*@                                     
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row clearfix" style="text-align:left; display:none" id="SpecifyTextbox">
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <div class="input-group" style="width:100%">
                                    <div class="form-line">
                                        @Html.TextBoxFor(m => m.Gym_Home, new { placeholder = "Please specify which gym", @class = "form-control", autofocus = "", style = "border-radius:6px" })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row clearfix" style="text-align:left">
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                @Html.Label("How many days per week are you available to workout? *")
                                <div class="input-group" style="width:100%">
                                    <div class="form-line">
                                        @Html.TextBoxFor(m => m.Days_Trianing_Per_Week, new { @class = "form-control", autofocus = "", type = "number", style = "border-radius:6px" })
                                    </div>
                                    <div class="help-block">
                                        @Html.ValidationMessageFor(m => m.Days_Trianing_Per_Week)
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row clearfix" style="text-align:left">
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                @Html.Label("Your goal? *")
                                <div class="input-group" style="width:100%">
                                    <div class="form-line">
                                        @Html.TextAreaFor(m => m.Goal, new { @class = "form-control", autofocus = "", style = "height:80px;border-radius:6px" })
                                    </div>
                                    <div class="help-block">
                                        @Html.ValidationMessageFor(m => m.Goal)
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="clearfix"><br /></div>

                        <div class="row clearfix" style="text-align:center">
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </div>

                        <div class="clearfix"></div>

                        <div class="separator">

                            <div class="clearfix"></div>
                            <br />

                            <div style="margin-bottom:100px">
                                <img src="@Url.Content("~/Content/images/logonoslogen.png")" />
                            </div>
                        </div>
                    </form>
                </section>
            </div>
        </div>
    </div>
}

<!-- jQuery -->
<script src="@Url.Content("~/Scripts/jquery.min.js")"></script>

<script>

    $(document).ready(function () {
        $('#Gender').val(true);
        $('#UserId').val();
    });

    function toggleTextBox() {
        if(document.getElementById("Gym").checked == true){
            document.getElementById("SpecifyTextbox").style.display = 'block';
        }
        else {
            document.getElementById("SpecifyTextbox").style.display = 'none';
            $('#Gym_Home').val("");   
        }
    }

    function updateGender(gender) {
        debugger;
        $('#Gender').val(gender);
    }

</script>