﻿@using Models;

@{
    ViewBag.Title = "Analytics";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row top_tiles">
<div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
    <div class="tile-stats">
        <a href="~/Users/List">
            <div class="icon"><i class="fa fa-check-square-o"></i></div>
            <div class="count">@Common.User.getNewUsers()</div>
            <h3>New Sign Ups</h3>
            <p>Click to view all members</p>
        </a>
    </div>
</div>
<div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
    <div class="tile-stats">
        <a href="~/Users/List">
            <div class="icon"><i class="fa fa-group"></i></div>
            <div class="count">@Common.User.getNumberOfUsers()</div>
            <h3>Total Members</h3>
            <p>Click to view all members</p>
        </a>
    </div>
</div>
<div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
    <div class="tile-stats">
        <a href="~/Programs/List">
            <div class="icon"><i class="fa fa-hand-peace-o"></i></div>
            <div class="count">@Common.Workout.getAllActivePrograms()</div>
            <h3>Active Programs</h3>
            <p>Click to view all programs</p>
        </a>
    </div>
</div>
<div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
    <div class="tile-stats">
        <a href="~/Programs/List">
            <div class="icon"><i class="fa fa-list-ol"></i></div>
            <div class="count">@Common.Workout.getNumberOfWorkouts()</div>
            <h3>Total Programs</h3>
            <p>Click to view all programs</p>
        </a>
    </div>
</div>
</div>


<div class="row">
    <div class="col-md-6 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>Profile Updates <small>Click date to view changes</small></h2>
                <ul class="nav navbar-right panel_toolbox">
                    <li class="pull-right">
                    </li>
                </ul>
                <div class="row clearfix"></div>
            </div>
            <div class="x_content">
                <div class="row clearfix">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        @{
                            IEnumerable<Common.Database.user_stats> stats = Common.UserStats.getUserStatsLastUpdated();
                            foreach (Common.Database.user_stats stat in stats)
                            {
                                Models.UserModel user = Models.UserModel.get((int)stat.userId);

                                <article class="media event">
                                    <a class="pull-left date" href="~/Users/Single/@(user.Guid)">
                                        <p class="month">@stat.last_updated.ToString("MMM")</p>
                                        <p class="day">@stat.last_updated.ToString("dd")</p>
                                    </a>
                                    <div class="media-body">
                                        <a class="title">@user.FullName</a>
                                        <p>Proile has been updated.</p>
                                    </div>
                                </article>
                            }
                            if (stats.Count() == 0)
                            {
                                <p style="color:red">No new updates.</p>
                            }
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>Program Feedback <small>Click icon to view all feedback</small></h2>
                <ul class="nav navbar-right panel_toolbox">
                    <li class="pull-right">
                    </li>
                </ul>
                <div class="row clearfix"></div>
            </div>
            <div class="x_content">

                <div class="row clearfix">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        
                            @{
                                IEnumerable<Models.WorkoutFeedbackModel> feedbacks = Models.WorkoutFeedbackModel.getLatest();
                                if (feedbacks != null && feedbacks.Count() != 0)
                                {
                                    <ul class="list-unstyled top_profiles scroll-view">
                                        @foreach (Models.WorkoutFeedbackModel feedback in feedbacks)
                                        {
                                        <li class="media event">
                                            <a class="pull-left border-aero profile_thumb" href="~/Programs/Feedback">
                                                <i class="fa fa-user aero"></i>
                                            </a>
                                            <div class="media-body">
                                                <a class="title">@feedback.UserFullName</a>
                                                <p> @feedback.Feedback </p>
                                                <p>
                                                    <small>@feedback.Last_Updated.ToString("dd MMMM yyyy")</small>
                                                </p>
                                            </div>
                                        </li>
                                        }
                                    </ul>
                                }
                                else
                                {
                                    <p style="color:red">No new feedback.</p>
                                }
                            }                                          
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>


<div class="row">
    <div class="col-md-6 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>Attempted Payments</h2>
                <ul class="nav navbar-right panel_toolbox">
                    <li class="pull-right">
                    </li>
                </ul>
                <div class="row clearfix"></div>
            </div>
            <div class="x_content">
                <div class="row clearfix">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div id="grid">
                            @(Html.Kendo().Grid<OrderModel>()
                            .Name("OrderGrid")
                            .Columns(columns =>
                            {
                                columns.Bound(m => m.DateRecieved).Title("DATE RECIEVED").ClientTemplate("#: kendo.toString(DateRecieved, 'yyyy-MM-dd') #").Width(150);
                                columns.Bound(m => m.Amount).Title("AMOUNT");
                            })
                            .Resizable(resize => resize.Columns(true))
                            .DataSource(dataSource => dataSource
                                .Ajax()
                                .PageSize(100)
                                .Model(model =>
                                {
                                    model.Id(m => m.OrderId);
                                })
                                .Group(groups => groups.Add(p => p.UserName))
                                .Read(read => read.Action("getOrders", "Dashboard"))
                            )
                            .Events(e => e.DataBound("onRowBound"))
                            .Pageable(pageable => pageable
                            .Refresh(true)
                            .ButtonCount(5))
                            .Sortable()
                            )
                        </div>
                        <div id="catch" style="display:none">
                            <p style="color:red">No recent payments.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>

    function onRowBound(e) {
        var grid = $("#OrderGrid").data("kendoGrid");
        var gridData = grid.dataSource.view();

        if (gridData.length == 0) {
            document.getElementById('grid').style.display = "none";
            document.getElementById('catch').style.display = "block";
        }
        else {
            document.getElementById('grid').style.display = "block";
            document.getElementById('catch').style.display = "none";
        }
    }

</script>