﻿
@{
    ViewBag.Title = "Chat";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="page-title">
    <div class="title_left" style="width:100%">
        <h3>Chat <small style="font-size:45%; padding-left:10px">(Available 6am-6pm)</small></h3>
    </div>
</div>

<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            @*<div class="x_title">
                <h2>Available 6am-6pm</h2>
                <ul class="nav navbar-right panel_toolbox">
                    <li class="pull-right">

                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>*@
            <div class="x_content">
                <br>

                <div class="row clearfix">
                    <div class="col-sm-12" id="ReplyBlock">
                        <div class="inbox-body">
                            <div class="view-mail" id="chat_content">
                                @* message content goes here *@
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row clearfix">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="form-group">
                            <br /> 
                            <textarea id="replyMessage" class="resizable_textarea form-control" placeholder="Ask your mentor something..." style="overflow: hidden; word-wrap: break-word; resize: horizontal; border-radius:6px"></textarea>
                        </div>
                    </div>
                </div>

                <div class="row clearfix">
                    <br />
                    <div class="btn-group">
                        <button class="btn btn-sm btn-primary" id="compose" type="button" onclick="reply(false)"><i class="fa fa-paper-plane"></i> Send </button>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<script>

    $(document).ready(function () {

        getMessages();
        updateUnread();
        

    });

    function getMessages() {

        var posturl = window.location.protocol + "//" + window.location.host + "/ChatRoom/getMessages";

        var data = {};

        $.ajax({
            url: posturl,
            data: JSON.stringify(data),
            type: 'POST',
            dataType: 'json',
            contentType: 'application/json; charset=utf-8',
            success: function (result) {

                $('#chat_content')[0].innerHTML = result;

            },
            async: false,
            processData: false
        });
    }

    function updateUnread() {

        var posturl = window.location.protocol + "//" + window.location.host + "/ChatRoom/UpdateUserInfo";

        var data = {};

        $.ajax({
            url: posturl,
            data: JSON.stringify(data),
            type: 'POST',
            dataType: 'json',
            contentType: 'application/json; charset=utf-8',
            success: function (result) {

            },
            async: false,
            processData: false
        });
    }

    function reply() {

        var html = $('#replyMessage').val();

        if (html != "" && html != null) {

            var posturl = window.location.protocol + "//" + window.location.host + "/ChatRoom/ReplyToMessage";

            var data = {
                html: html
            };

            $.ajax({
                url: posturl,
                data: JSON.stringify(data),
                type: 'POST',
                dataType: 'json',
                contentType: 'application/json; charset=utf-8',
                success: function (result) {

                    if (result != 0) {
                        location.reload();
                    }

                },
                async: false,
                processData: false
            });

        }

    }


</script>